    .h3.whitetext,
    h2.whitetext,
    h1.whitetext,
    h4.whitetext,
    h5.whitetext,
    h6.whitetext,
    p.whitetext {
        color: white;
    }

    
       /** from date time picker style css files **/
	
	.picker-view::-webkit-scrollbar,
	.picker-view *::-webkit-scrollbar {
		display: none;
	}
	
	.picker-view .picker-accessory-bar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		z-index: 3;
		height: 47px;
		background-color: #2ab041;
		top: 155px;
	}
	
	.picker-view .picker-accessory-bar .button {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
	.picker-view .picker-accessory-bar .button:first-of-type {
		left: 205%;
		background-color: transparent;
		color: white;
		font-size: 2vh;
	}
	
	.picker-view .picker-accessory-bar .button:last-of-type {
		right: 0%;
		background-color: #2ab041;
		color: white;
		font-size: 3vh;
		width: 100%;
	}
	
    .picker-view .picker-content {	
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		position: relative;
		background-color: rgb(42, 62, 82);
		height: 60%;
		top: 15px;
	}
	
	.picker-view .picker-content .picker-scroll {
		z-index: 1;
		width: 100%;
		height: 100%;
		margin: auto;
		font-size: 16px;
		padding-left: 0px;
		padding-right: 0px;
		line-height: normal;
		color: white;
		border-style: solid;
		border-top-width: 0;
		border-bottom-width: 0;
		border-color: transparent;
		background-color: rgb(42, 62, 82);
	}
	
	.picker-view .picker-content .picker-scroll .scroll {
		min-height: 100%;
	}
	
	.picker-view .picker-content .picker-scroll .scroll div {
		opacity: 0.15;
	}
	
	.picker-view .picker-content .picker-scroll .scroll div.selected {
		opacity: 1;
		font-weight: bold;
		color: lime;
	}
	
	.picker-view .picker-content .picker-scroll .scroll div.pre-select {
		opacity: 0.3;
	}
	
	.picker-view .picker-content .picker-scroll:after {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 4vmin;
	}
	
	.picker-view .picker-content .picker-scroll:first-of-type {
		left: 0;
		text-align: center;
		border-left-width: 0vmin;
		border-right-width: 0vmin;
		border-top-left-radius: 0vmin;
		border-bottom-left-radius: 0vmin;
	}
	
	.picker-view .picker-content .picker-scroll:first-of-type:after {
		left: 0;
		right: 0;
		border-left-width: 0vmin;
		border-right-width: 0vmin;
		border-top-left-radius: 0vmin;
		border-bottom-left-radius: 0vmin;
	}
	
	.picker-view .picker-content .picker-scroll:last-of-type {
		right: 0;
		border-left-width: 0vmin;
		border-right-width: 0vmin;
		border-top-left-radius: 0vmin;
		border-bottom-left-radius: 0vmin;
	}
	
	.picker-view .picker-content .picker-scroll:last-of-type:after {
		left: 0;
		right: 0;
	}
	
	.picker-view .picker-content .picker-scroll:not(:first-of-type):not(:last-of-type) {
		border-left-width: 0;
		border-right-width: 0;
	}
	
	.picker-view .picker-content .picker-scroll:not(:first-of-type):not(:last-of-type):after {
		left: 0;
		right: 0;
	}
	
	.picker-view-slidein {
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-name: pickerViewSlidein;
		animation-name: pickerViewSlidein;
	}
	
	@keyframes pickerViewSlidein {
		from {
			opacity: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
		}
		to {
			opacity: 1;
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
	
	@-webkit-keyframes pickerViewSlidein {
		from {
			opacity: 0;
			-webkit-transform: translateY(100%);
		}
		to {
			opacity: 1;
			-webkit-transform: translateY(0);
		}
	}
	
	.picker-view-slideout {
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-name: pickerViewSlideout;
		animation-name: pickerViewSlideout;
	}
	
	@keyframes pickerViewSlideout {
		from {
			opacity: 1;
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		to {
			opacity: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
		}
	}
	
	@-webkit-keyframes pickerViewSlideout {
		from {
			opacity: 1;
			-webkit-transform: translateY(0);
		}
		to {
			opacity: 0;
			-webkit-transform: translateY(100%);
		}
	}
	
	.picker-view 
    {
		z-index: 9999;
		position: fixed;
		left: 0;
		top: 5%;
		text-align: center;
		width: 100%;
		width: 100vw;
		height: 27.75%;
		height: 27.75vh;
		background-color: transparent;
		margin-top: -6px;
	}