
<style>
    .header .col {
        background-color: black;
        color: white;
    }


    .col:last-child {
    }

    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
</style>
<ion-view view-title="Schedules">
    <ion-content ng-controller="AdminScheduleController">

        <div class="row" style="background-color:black">
            <div class="col" style="vertical-align:middle">
                <i style="color:darkorange;font-size:40px" class="icon ion-arrow-left-a">

                </i>
            </div>
            <div class="col" align="center">
                <!--<p style="background-color:lightgray">Date</p>-->
                <label class="item item-input ">
                    <input type="date" ng-model="search.date" ng-change="ReloadPage()">
                </label>
            </div>

            <div class="col">
                <i style="color:darkorange;font-size:40px" class="icon ion-arrow-right-a">

                </i>
            </div>


        </div>

        <div ng-repeat="playerPerTeam in playersToFilter() | filter:filterTeams">


            <div style="height:20px; background-color:lightblue" align="center">
                <h4>{{playerPerTeam.mininame}}</h4>
            </div>
            <div>



                <div class="row header">
                    <div class="col col-20">Time</div>
                    <div class="col col-33">User</div>
                    <div class="col">Phone#</div>
                    <div class="col">Total$</div>

                </div>

                <div class="row" ng-repeat="items in scheduleswithday | filter:{mininame:playerPerTeam.mininame}">
                    <!--ng-repeat="data in ctrl.data"-->
                    <div class="col col-20">{{items.starthour}} : {{items.startminute}}</div>
                    <div class="col  col-33">Manoukian</div>
                    <div class="col col-25">70147896</div>
                    <div class="col">{{items.price}}</div>

                </div>
                <!--<div>
                    <h5 style="color:green">
                        Total Price :
                    </h5>
                </div>-->

            </div>
        </div>





    </ion-content>



</ion-view>
