<style>
	.h3.whitetext,
	h2.whitetext,
	h1.whitetext,
	h4.whitetext,
	h5.whitetext,
	h6.whitetext,
	p.whitetext {
		color: white;
		height: 8px
	}
		.popup {
		border-radius:50px;
		font-size:15px;
	}

.popup-buttons .button:first-child 
	{
     	border-radius:50px;
		margin:05px;
		padding:0px;
		background-color:rgb(153,167,180);
		color:white;
	}
	.popup-buttons .button:last-child 
	{
     	border-radius:50px;
		margin:05px;
		padding:0px;
		background-color:#2ab041;
		color:white;
	}

	.popup-body {
		padding: 15px;
		margin: -5px;
		background-color: rgb(62, 83, 100);
		color: white;
		text-align:center;	
		border-radius:15px 15px 0 0 ;
	}
    .popup-buttons {
		padding: 10px 5px 5px 5px;
		margin: -5px;
		background-color: rgb(62, 83, 100);
		text-align:center;	
		border-radius:0 0 15px 15px ;
	}
	
	
    .popup-head {	
	    display: none;  
        	}
	
	.headercolor {
		background-color: rgb(62, 83, 100);
		color: white
	}
</style>
<ion-view view-title="Challenge a Team">

	<ion-nav-buttons side="primary">
		<button class="button button-icon ion-android-funnel" ng-click="popover.show($event)"></button>
	</ion-nav-buttons>

	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-content style="background-color:rgb(46,62,75)">


		<script id="templates/my-popover.html" type="text/ng-template">
			<ion-popover-view style="height:300px;width:200px">
				<ion-content class="-dark">
					<ion-list>
						<div class="bar bar-header bar-light" style="background-color:darkorange;color:white">
							<h1 class="title">Filter</h1>
						</div>

						<br />


						<ion-radio style="background-color:darkorange" ng-model="choice.sort" value="rating"><b>Rating</b></ion-radio>
						<ion-radio ng-model="choice.sort" value="players"><b>Players</b></ion-radio>
						<ion-radio ng-model="choice.sort" value="'rating"><b>Distance</b></ion-radio>

						<!--<button class="button button-full button-positive" ng-click="closePopover()">
                        OK
                    </button>-->
					</ion-list>
				</ion-content>
			</ion-popover-view>
		</script>
		<div class="item item-dark" ion-datetime-picker ng-model="selecteddate.date" minute-step="30">
			{{search.date| date: "yyyy-MM-dd H:mm"}}
		</div>

		<!--<p style="background-color:lightgray">Date</p>-->
		<!--<label class="item item-input item-select item-dark">
          <div class="input-label">
              Time
          </div>



          <input type="datetime-local" ng-model="search.date" style="color:white">
      </label>-->

				<div class="card" ng-repeat="stadiums in allfreestadiums | orderBy:choice.sort:reverse" style="background-color:rgb(62,83,100);margin:10px 5px 10px 5px">
			<!--  <a class="item item-thumbnail-left" ng-href="#/app/reservestadiumdetails/{{stadiums.stadiumkey}}"> -->

			<div align="center" style="padding-bottom:0px">
				<img src="{{stadiums.photo}}" style="width:100%;height:140px;" ui-sref="app.reservestadiumdetails({stadiumid: stadiums.stadiumkey})">
			</div>

			<div class="row ">
				<div class="col col-66" style="padding-top:0px;color:white; font-weight:bold;font-size:12px"> {{stadiums.stadiumname}} / {{stadiums.description}}
				</div>

				<div class="col" align="right" style="padding-top:0px;font-size:11px;color:#5f7485"> PRICE
				</div>

			</div>

			<div class="row">
				<div class="col col-66" align="left">
					<rating style="color:rgb(255,152,18);margin-top:-8px;padding-top:0px" readonly="readOnly" ng-model=stadiums.rating max="rating.max" align="left">

					</rating>

				</div>

				<div class="col" align="right" style="color:white;margin-top:-8px;font-size:15px">
					<b>
	
		{{stadiums.price}} LL
		</b>
				</div>
			</div>
			<div class="row ">
				<div class="col" style="font-weight:100;color:#5f7485;font-size:12px;padding-bottom:0px;padding-top:0px" align="left"> 2.1km
				</div>

				<div class="col" style="font-weight:100;color:#5f7485;border-right:1px #5f7485 solid;border-left:1px #5f7485 solid;padding-top:0px;font-size:12px;padding-bottom:0px" align="center"> TYPE
				</div>

				<div class="col" style="font-weight:100;color:#5f7485;font-size:12px;padding-bottom:0px;padding-top:0px" align="center"> STADIUM SIZE
				</div>

			</div>


			<div class="row ">
				<div class="col" align="left" style="font-weight:bold;color:white;padding-top:0px">
					Anthelias
				</div>

				<div class="col" align="center" style="color:white;padding-top:0px;border-right:1px #5f7485 solid;border-left:1px #5f7485 solid">
					<b>
			{{stadiums.type}}  &#8226 {{stadiums.typefloor}}
			</b>
				</div>

				<div class="col" align="center" style="color:white;padding-top:0px">
					<b>
			Max {{stadiums.players}} v {{stadiums.players}}
			</b>
				</div>

			</div>
			<!--			<h3 class="whitetext"> Number: <b>{{stadiums.description}}</b></h3> -->

			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="updateselectedteams(stadiums)" style="padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;border-radius:25px;background-color:{{stadiums.backcolor}}">
<h5 style="color:{{stadiums.color}}"> {{stadiums.selected}}
</h5>

</button>
				</div>
			</div>
		</div>

		</br>
		</br>


	</ion-content>
<div class="bar bar-footer " style="background-color:#2d3e4b">

<button class="button button-small " style="width:100%; background-color:#28b041; color:white; border-radius:20px" ng-disabled="challengestatus" ng-click="sendchallenge()"> Send Challenge
</button>
</div>
</ion-view>