<style>
	.bar.bar-royal {
		background-color: rgb(46, 62, 85);
		border: rgb(46, 62, 85);
	}

	.filter-bar .filter-bar-wrapper .item-input-inset .icon.placeholder-icon:before {
		font-size: 26px;
	}

	.bar .button.button-icon,
	.bar button.button-icon {
		color: white;
	}

	.item {
		background-color: #2d3e4b;
	}

	.item-select select {
		background-color: rgb(46, 62, 75);
		color: #2ab041;
	}

	.item-select:after {
		margin-top: 0px;
		color: #2ab041;
	}

	.rzslider {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 4px;
		margin: 35px 0 15px 0;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.rzslider.with-legend {
		margin-bottom: 0px;
	}

	.rzslider[disabled] {
		cursor: not-allowed;
	}

	.rzslider[disabled] .rz-pointer {
		cursor: not-allowed;
		background-color: #d8e0f3;
	}

	.rzslider span {
		position: absolute;
		display: inline-block;
		white-space: nowrap;
	}

	.rzslider .rz-base {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.rzslider .rz-bar-wrapper {
		left: 0;
		z-index: 1;
		width: 100%;
		height: 2px;
		padding-top: 16px;
		margin-top: -16px;
		box-sizing: border-box;
	}

	.rzslider .rz-bar-wrapper.rz-draggable {
		cursor: move;
	}

	.rzslider .rz-bar {
		left: 0;
		z-index: 1;
		width: 100%;
		height: 4px;
		background: rgb(155, 167, 181);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.rzslider .rz-bar.rz-selection {
		z-index: 2;
		background: white;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.rzslider .rz-pointer {
		top: -9px;
		z-index: 3;
		width: 22px;
		height: 22px;
		cursor: pointer;
		background-color: rgb(37, 179, 69);
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
	}

	.rzslider .rz-pointer:after {
		position: absolute;
		top: 7px;
		left: 7px;
		width: 8px;
		height: 8px;
		background: rgb(147, 221, 162);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		content: '';
	}

	.rzslider .rz-pointer:hover:after {
		background-color: rgb(147, 221, 162);
	}

	.rzslider .rz-pointer.rz-active {
		z-index: 4;
	}

	.rzslider .rz-pointer.rz-active:after {
		background-color: rgb(147, 221, 162);
	}

	.rzslider .rz-bubble {
		bottom: 14px;
		padding: 1px 3px;
		color: rgb(147, 221, 162);
		cursor: default;
		font-weight: bold;
	}

	.rzslider .rz-bubble.rz-selection {
		top: 16px;
	}

	.rzslider .rz-bubble.rz-limit {
		color: rgb(147, 221, 162);
	}

	.rzslider .rz-ticks {
		position: absolute;
		top: -3px;
		left: 0;
		z-index: 1;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 0;
		padding: 0 11px;
		margin: 0;
		list-style: none;
		box-sizing: border-box;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.rzslider .rz-ticks .rz-tick {
		width: 10px;
		height: 10px;
		text-align: center;
		cursor: pointer;
		background: rgb(147, 221, 162);
		border-radius: 50%;
	}

	.rzslider .rz-ticks .rz-tick.rz-selected {
		background: #0db9f0;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-value {
		position: absolute;
		top: -30px;
		transform: translate(-50%, 0);
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		position: absolute;
		top: 24px;
		max-width: 50px;
		white-space: normal;
		transform: translate(-50%, 0);
	}

	.rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value {
		top: initial;
		bottom: -40px;
	}

	.rzslider.rz-vertical {
		position: relative;
		width: 4px;
		height: 100%;
		padding: 0;
		margin: 0 20px;
		vertical-align: baseline;
	}

	.rzslider.rz-vertical .rz-base {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.rzslider.rz-vertical .rz-bar-wrapper {
		top: auto;
		left: 0;
		width: 32px;
		height: 100%;
		padding: 0 0 0 16px;
		margin: 0 0 0 -16px;
	}

	.rzslider.rz-vertical .rz-bar {
		bottom: 0;
		left: auto;
		width: 4px;
		height: 100%;
	}

	.rzslider.rz-vertical .rz-pointer {
		top: auto;
		bottom: 0;
		left: -14px !important;
		color: #2ab041;
	}

	.rzslider.rz-vertical .rz-bubble {
		bottom: 0;
		left: 16px !important;
		margin-left: 3px;
	}

	.rzslider.rz-vertical .rz-bubble.rz-selection {
		top: auto;
		left: 16px !important;
	}

	.rzslider.rz-vertical .rz-ticks {
		top: 0;
		left: -3px;
		z-index: 1;
		width: 0;
		height: 100%;
		padding: 11px 0;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.rzslider.rz-vertical .rz-ticks .rz-tick {
		vertical-align: middle;
	}

	.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
		top: initial;
		left: 22px;
		transform: translate(0, -28%);
	}

	.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend {
		top: initial;
		right: 24px;
		max-width: none;
		white-space: nowrap;
		transform: translate(0, -28%);
	}

	.rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value {
		right: 12px;
		bottom: initial;
		left: initial;
	}

	.h3.whitetext,
	h2.whitetext,
	h1.whitetext,
	h4.whitetext,
	h5.whitetext,
	h6.whitetext,
	p.whitetext {
		color: white;
	}

	.h3.bluetext,
	h2.bluetext,
	h1.bluetext,
	h4.bluetext,
	h5.bluetext,
	h6.bluetext,
	p.bluetext {
		color: darkblue;
	}

	.h3.greytext,
	h2.greytext,
	h1.greytext,
	h4.greytext,
	h5.greytext,
	h6.greytext,
	p.greytext {
		color: gray;
	}
	/** from date time picker style css files **/

	.picker-view .picker-content {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
		position: relative;
		background-color: rgb(42, 62, 82);
		height: 60%;
		top: 15px;
	}
	/** end **/
</style>
<ion-view view-title="Choose Opponent" cache-view="false">


	<ion-nav-buttons side="secondary">
		<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
	</ion-nav-buttons>
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:white"></button>
	</ion-nav-buttons>

	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-options" style="color:white" ng-click="popover.show($event)"></button>
	</ion-nav-buttons>
	<style>

	</style>

	<ion-content style="background-color:rgb(46,62,75)">



		<script id="templates/my-popover.html" type="text/ng-template">

			<ion-popover-view style="background-color:rgb(46,62,75);height:100%;width:220px">
				<ion-content>
					<div align="center">
						<h4 style="color:white">Filter by</h4>
					</div>

					<div class="list" style="margin-bottom:2px">

						<label class="item item-input item-select" style="border-top:1px solid #5f7485;padding-left:5px;padding-bottom:5px;color:rgb(142,156,169);background-colr:rgb(46,62,75)">
								<div class="input-label" style="color:rgb(157,171,184)">
										Sort By	
								</div>
								<select  ng-model="choice.sort">
								<option >Best</option>
								<option >Rating</option>
							    <option >Distance</option>
							</select>
							</label>

					</div>

					<div align="left" style="border-top:1px solid #5f7485;color:rgb(157,171,184);font-size:14px;padding:10px 5px 10px 5px"> Difficulty </div>
					<button class="button" ng-model="filter.indoor" style="padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:#2ab041;line-height:30px;font-size:14px;width:30%;font-weight:bold;border-radius:50px;margin:0 3px;">
						 Easy</button>
					<button class="button" style="padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:#2ab041;line-height:30px;font-size:14px;width:30%;font-weight:bold;border-radius:50px">
						Hard</button>
					<button class="button" style="padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:#2ab041;width:30%;line-height:30px;font-size:14px;font-weight:bold;border-radius:50px;margin:0 3px">
						Any </button>
					<br>
					</div>



					<!---			<ion-checkbox style="color:rgb(142,156,169);background-color:rgb(46,62,75)" ng-model="filter.indoor">Indoor</ion-checkbox>
						<ion-checkbox style="color:rgb(142,156,169);background-color:rgb(46,62,75)" ng-model="filter.outdoor">Outdoor</ion-checkbox>
						<ion-checkbox style="color:rgb(142,156,169);background-color:rgb(46,62,75)" ng-model="filter.grass">Grass</ion-checkbox>
						<ion-checkbox style="color:rgb(142,156,169);background-color:rgb(46,62,75)" ng-model="filter.clay">Clay</ion-checkbox>
-->
					<div align="left" style="border-top:1px solid #5f7485;color:rgb(157,171,184);font-size:15px;padding:10px 5px 0px 5px;margin-top:10px">
						Team Distance (in Km) </div>
					<div style="padding-left:10px;padding-right:10px;padding-bottom:5px;border-bottom:1px solid #5f7485">
						<rzslider rz-slider-model="filter.money " rz-slider-high="250000" style="color:white ">
						</rzslider>

					</div>

					<div class="row">

						<div class="col col-50" align="center">
							<h4 style="background-color:white;color:#2ab041;border-radius:50px;line-height:30px" ng-click="cancelfilter()">
								Cancel
							</h4>
						</div>
						<div class="col col-50" align="center">
							<h4 style="background-color:#2ab041;color:white;border-radius:50px;line-height:30px" ng-click="updatefilter()">
								Apply
							</h4>
						</div>
					</div>
					</div>
				</ion-content>
			</ion-popover-view>
		</script>

		<!--<div class="item item-dark" style="border:transparent;background-color:#2ab041" ion-datetime-picker ng-model="search.date"
		 minute-step="30">	
		 		{{search.date| date: "yyyy-MM-dd H:mm"}}
		</div>-->
		<div align="center">
			<input class="button open-button" ng-readonly="true" on-tap="openPickerView()" style="border-radius:0px;color:white;width:100%;line-height:40px;padding-bottom:0px;margin-bottom:0px;background-color:#2ab041"
			 ng-model="search.text">
		</div>


		<div align="left">
			<h5 class="whitetext" style="font-size:12px;text-indent:20px; color:#5f7485; margin-bottom:-10px">
				CHOOSE MAX 3 OPPONENTS
			</h5>
		</div>

		<div class="list" style="background-color:rgb(62,83,100);margin-top:10px;border-top:10px solid rgb(46, 62, 85)" collection-repeat="team in filteredTeams | orderBy: 'points':false">

			<div class="row" style="padding:5px 0 0 0">
				<div class="col" style="padding:0px;border-right:1px solid #5f7485" align="center">
					<img src="img/Badges/{{team.badge}}.png" ui-sref="app.teamview({teamid: team.key})" style="width:80px;height:80px;">
					<h5 style="margin-bottom:0px;color:white;font-weight:bolder;text-transform:capitalize"> {{team.teamname}}
					</h5>

				</div>


				<div class="col" style="padding:0px" align="center">
					<img src="{{team.captainphoto}}" ui-sref="app.profileview({key: team.teamadmin})" style="border-radius:50px;width:80px;height:80px;">
					<h6 style="margin-bottom:0px;color:#5f7485">TEAM CAPTAIN</h6>
				</div>


			</div>

			<div class="row" align="center" style="padding:5px 0 0 0">
				<div class="col" style="margin-top:5px;color:darkturquoise;width:50%;padding:0px;margin-bottom:5px;font-weight:bold">
					{{team.rankdescription}}
				</div>

				<div align="center" style="margin-top:5px;color:white;width:50%;padding:0px;margin-bottom:5px;font-weight:bold">
					{{team.captainname}}</div>

			</div>


			<div class="row" style="padding:0px">



				<div align="center" style="color:white;width:50%;padding:0px;font-size:12px;margin-top:0px">
					<i class="ion-location" style="padding-right:3px;font-size:18px;color:#5f7485"></i> {{team.distance}} km away
				</div>

				<div align="center" style="margin-top:5px;color:white;width:50%;padding:0px;margin-bottom:5px;font-weight:bold">
				</div>
			</div>


			<hr style="height:1px; visibility:hidden">

			<div class="row" style="padding:0px">
				<div style="width:18%;font-size:12px;margin:0px;padding:0px;color:#5f7485" align="center">
					GAMES
				</div>
				<div style="width:33%;font-size:12px;padding:0px;color:#5f7485;border-left:1px solid #5f7485" align="center"> DIFFICULTY
				</div>
				<div style="width:27%;font-size:12px;padding:0px;border-left:1px solid #5f7485;border-right:1px solid #5f7485;color:#5f7485"
				 align="center"> RATING
				</div>
				<div style="width:23%;font-size:12px;padding:0px;color:#5f7485" align="center"> LAST SEEN
				</div>
			</div>

			<div class="row" style="padding:0px;margin-top:-15x">
				<div align="center" style="margin:15px 0 -10px 0;font-size:14px;width:18%;color:#5f7485">
					<div> <span align="left" style="color:green">W</span>-<span align="center" style="color:Orange">D</span>-<span align="right" style="color:red">L</span> </div>
					<span style="color:green">7</span>-<span style="color:Orange">10</span>-<span style="color:red">10</span>
				</div>

				<div style="border-left:1px solid #5f7485;font-size:14px;width:33%;padding:0px;margin:5px 0 -25px 0;color:white" align="center">
					<h5 style="margin-bottom:4px;padding:0px;font-weight:bold;color:white;;">{{team.difficultytext}} </h5>
					<img src="img/difficulty/{{team.difficulty}}" align="left" style="margin:0 0 10px 0;height:10px">

				</div>

				<div style="font-size:14px;width:27%;border-left:1px solid #5f7485;border-right:1px solid #5f7485;padding:0px;margin:5px 0 -10px 0;color:white"
				 align="center">
					<rating style="color:rgb(255,152,18);padding-top:10px;text-align:center" readonly="readOnly" ng-model="4.2" max="rating.max"
					 align="left">

					</rating>
				</div>
				<div align="center" style="font-weight:bold;margin:15px 0 -10px 0;font-size:14px;width:23%;color:white">
					{{team.lastseen.text}}
				</div>
			</div>
			<br>
			<p class="whitetext" style="font-style:italic;padding-left:10px">
				{{team.comments}}
			</p>


			<div class="row">
				<div class="padding" style="width:100%;" align="center">
					<button class="button button-balanced small_button" ng-click="updateselectedteams(team)" style="min-height:35px;line-height:35px;width:100%;border-radius:25px;background-color:{{team.backcolor}}">
<h5 style="color:{{team.color}}"> {{team.selected}}
</h5>

</button>
				</div>

			</div>


		</div>
		</br>
		<br>
	</ion-content>

	<div class="bar bar-footer " style="background-color:#2d3e4b">

		<button class="button button-balanced button-bull" style="min-height:35px;line-height:35px;width:100%; color:white; border-radius:20px"
		 ng-click="choosestadium()"> Choose Stadium
</button>
	</div>


</ion-view>