<style>
    .headercolor {
        background-color: rgb(62, 83, 100);
        color: white;
        border-bottom: 2px solid rgb(62, 83, 100);
    }
</style>


<ion-view view-title="Choose Your Team">


    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-bar class="headercolor">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content style="background-color:rgb(45,62,75)">


        <div ng-repeat="team in allmyteams" style="padding:0 10px">
            <a class="item item-thumbnail-left" ng-click="gochallengeteams({{team}})" style="background-color:rgb(62,83,100);border-radius:5px;margin-top:10px;border:hidden">
                <img src="img/Badges/{{team.badge}}.png" style="width:65px;height:65px; margin-top:10px;margin-left:15px ">


                <div align="center" style="padding-right:0px;margin-top:-5px">
                    <h2 style="text-transform:capitalize;color:white;font-size:16px;font-weight:bold">
                        <b>{{team.teamname}}</b></h2>
                </div>
                <div align="center" style="padding-right:0px; color:darkturquoise; font-size:12px; font-weight:bold"> RANK {{team.rank}}
                </div>
                <hr style="height:1px; visibility:hidden;" />
                <h5 align="center" style="color: #5f7485;float:left; width:50%;padding-bottom:0px;margin-bottom:0px"> MEMBERS
                </h5>
                <h5 align="center" style="padding-bottom:0px;margin-bottom:0px;color: #5f7485;float:left; width:50%;border-left:solid; border-width:thin; border-color: #5f7485">
                RATING
                </h5>
                <h4 align="center" style="color:white;float:left; width:50%;top:0px"> <b>{{team.members}}</b>
                </h4>
                <h4 align="center" style="color:darkturquoise;float:left; width:50%;border-left:solid; border-width:thin; border-color: #5f7485">
                {{team.rating}}</b>
                </h4>

            </a>

        </div>
        <br />
        <br />


    </ion-content>

</ion-view>