<ion-view view-title="FeedBack">
	<style>
		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white;
			border-bottom: 2px solid rgb(62, 83, 100);
			border-top: 3px;
		}
	</style>


	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-back-button>
	</ion-nav-back-button>


	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>


	<ion-content style="background-color:rgb(46,62,75)">

		<div align="center" style="background-color:tranparent;padding-bottom:5px;padding-top:13px;font-size:15px;color:white"> Write Your Feedback
			<h5 style="color: red" ng-show="error">
				Feedback should be more than 10 letters
			</h5>
			<div class="list">

				<div class="list" style="width:100%; padding-left:10px;padding-right:10px;padding-bottom:15px">
					<label class="item item-input" style="padding:2px 20px 20px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <textarea  rows="8" cols="100" maxlength="220"  type="text" placeholder="Found A Bug ? You Have A Suggestion ? Please Let Us Know <3 " 
				style="font-style:italic;color:#2ab041;background-color:transparent;padding-left:2px" ng-model="feedbacktext.text">
                	 </textarea>
			</label>
				</div>



				<div style="background-color:rgb(46,62,75);margin-top:-40px;padding:20px">

					<button class="button button-balanced button-full" ng-disabled="$scope.loading" ng-click="savefeedback()" style="min-height:35px;border-radius:45px">
					<h5 class="whitetext">
						Submit
					</h5>
					
				
				</button>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>