<ion-view view-title="Game Vs {{opponent}}">
	<style>
		.h3.whitetext,
		h2.whitetext,
		h1.whitetext,
		h4.whitetext,
		h5.whitetext,
		h6.whitetext,
		p.whitetext {
			color: white;
		}

		.h3.graytext,
		h2.graytext,
		h1.graytext,
		h4.graytext,
		h5.graytext,
		h6.graytext,
		p.graytext {
			color: lightgrey;
		}


		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white;
			border-bottom: 2px solid rgb(62, 83, 100);
			border-top: 1px;
		}
	</style>
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>

	<div class="bar bar-subheader" align="left" style="border:transparent;height:45px;margin-bottom:5px;background-color:#2ab041"
	 ng-show="!notloaded">
		<h3 class="title" align="left" style="color:white;font-size:15px">{{challenge.date |date:'EEEE - MMM d @ HH:mm a'}} - {{challenge.numplayers}} Vs {{challenge.numplayers}}</h3>
	</div>

	<ion-content style="background-color:rgb(46,62,75)">
		<hr style="height:30px; visibility:hidden;">
		<div align="center">
			<ion-spinner ng-show="notloaded" icon="spiral"></ion-spinner>
		</div>


		<div class="card" style="background-color:rgb(62,83,100);margin:10px 5px 0px 5px" ng-show="!notloaded">

			<div class="row" style="padding-bottom:0px">
				<div class="col" style="padding:0px">
					<div align="center">
						<img src="img/Badges/{{challenge.team1logo}}.png" style="margin-top:10px;width:60px;height:60px ">
					</div>
					<div align="center">
						<h5 class="whitetext" style="font-weight:bold;text-transform: capitalize">
							{{challenge.team1name}}
						</h5>
						<h6 style="color:darkturquoise">
							{{challenge.team1rankdescription}}
						</h6>
						<img src="img/Jerseys/{{challenge.team1jersey}}.png" style="width:40px;height:40px ">
					</div>
				</div>
				<div class="col" style="padding:0px">
					<div align="center">
						<hr style="height:0px; visibility:hidden;" />

						<h3 class="whitetext" style="font-weight:bold;color:white">
							VS
						</h3>
						<h6 style="margin-top:70px;color:#5f7485" align="center"> DIFFICULTY </h6>

						<div style="font-size:14px;width:33%;padding:0px;margin:5px 0 -25px 0;color:white" align="center">
							<h5 style="margin-bottom:4px;padding:0px;font-weight:bold;color:white">{{challenge.difficultytext}} </h5>
							<img src="img/difficulty/{{challenge.difficulty}}" align="left" style="margin:0 0 10px 0;height:10px">
						</div>


					</div>
				</div>
				<div class="col" style="padding:0px">
					<div align="center">
						<img src="img/Badges/{{challenge.team2logo}}.png" style="margin-top:10px;width:60px;height:60px ">
					</div>
					<div align="center">
						<h5 class="whitetext" style="font-weight:bold;text-transform: capitalize">
							{{challenge.team2name}}
						</h5>
						<h6 style="color:darkturquoise">
							{{challenge.team2rankdescription}}
						</h6>
						<img src="img/Jerseys/{{challenge.team2jersey}}.png" style="width:40px;height:40px ">
					</div>
				</div>

			</div>
		</div>
		<div class="card" style="padding:0px;margin:5px;background-color:rgb(62, 83, 100)">
			<h5 align="center" class="whitetext" style="text-transform: capitalize;font-size:15px;margin:5px 0 0 0; font-weight:bold">
				Captain {{challenge.adminname}}
			</h5>
			<div class="row" style="padding:0px;background-color:rgb(62, 83, 100)">

				<div style="width:20%;padding:0px">

					<img src="{{challenge.adminphoto}}" style="border-radius:50% ; height:65px ; width:65px; margin-top:-10px" />

				</div>

				<div align="center" style="width:50%;padding:0px 5px">



					<h6 style="color:#5f7485"> CONTACT </h6>
					<h5 class="whitetext" style="font-weight:bold">
						(+961) {{challenge.admintelephon}}
					</h5>
				</div>
				<div class="col" style="padding:0px">

					<h6 style="color:#5f7485;border-left:1px solid #5f7485" align="center"> LAST SEEN </h6>
					<h5 align="center" class="whitetext" style="padding-top:10px;margin-top:-10px;font-weight:bold;border-left:1px solid #5f7485">
						{{challenge.lastseen.text}}
					</h5>
				</div>
			</div>


		</div>
		</div>
		<div class="card" align="center" style="background-color:rgb(62,83,100); padding:0px;margin:5px">
			<div align="center" style="Font-weight:bold;color:white;font-size:15px;margin:5px 0px"> Stadium </div>
			<img image-lazy-src="http://gazettereview.com/wp-content/uploads/2017/01/stadium-header.jpg" image-lazy-loader="lines" style="width:100%;height:140px;"
			 ui-sref="app.reservestadiumdetails({stadiumid: stadiums.stadiumkey})">


			<div class="row ">
				<div class="col col-67" align="left" style="padding-top:0px;color:white; font-weight:bold;font-size:12px"> {{challenge.stadiums.stadiumname}} / {{challenge.stadiums.description}}
				</div>

				<div class="col col-33" align="right" style="padding-top:0px;font-size:11px;color:#5f7485"> PRICE
				</div>

			</div>

			<div class="row">
				<div class="col col-67" align="left">
					<rating style="color:rgb(255,152,18);margin-top:-8px;padding-top:0px" readonly="readOnly" ng-model="challenge.stadiums.rating"
					 max="rating.max" align="left">

					</rating>

				</div>

				<div class="col col-33" align="right" style="padding:3px 0 0 0;color:white;margin-top:-8px;font-size:15px">
					<b>
	
		{{challenge.stadiums.price}} LL
		</b>
				</div>
			</div>
		</div>




		<div class="card" style="background-color:rgb(62,83,100)" ng-repeat="challenge in profile.gameinvitation | orderBy: 'date':false">
			<div align="center">
				<h4 class="whitetext" align="middle"><b>Pending Attendance</b></h4>
			</div>
			<div align="center">
				<h5 class="whitetext" style="color:white"> {{challenge.date |date:'MMM d, y h:mm a'}}
				</h5>
			</div>
			<div class="row ">
				<div class="col">
					<div align="center">
						<img src="img/Badges/{{challenge.team1logo}}.png" style="width:65px;height:65px;margin-top:-10px">
					</div>
					<div align="center">
						<h5 class="whitetext">
							{{challenge.team1name}}
						</h5>
						<h6 style="color:darkturquoise;margin-top:-5px">
							{{challenge.team1rankdescription}}
						</h6>
						<img src="img/Jerseys/{{challenge.team1jersey}}.png" style="width:40px;height:40px ">
					</div>
				</div>
				<div class="col">
					<div align="center">
						<h4 class="whitetext">
							VS
						</h4>
						<h6 style="color:#5f7485">
							Stadium
						</h6>
						<h6 class="whitetext">
							{{challenge.stadium.description}}
						</h6>

					</div>


				</div>
				<div class="col">
					<div align="center">
						<img src="img/Badges/{{challenge.team2logo}}.png" style="width:60px;height:60px ">
					</div>
					<div align="center">
						<h5 class="whitetext">
							{{challenge.team2name}}
						</h5>
						<h6 style="color:darkturquoise;margin-top:-5px">
							Rank:{{challenge.team2rank}}
						</h6>
						<img src="img/Jerseys/{{challenge.team2jersey}}.png" style="width:40px;height:40px ">
					</div>
				</div>

			</div>
			

		</div>
<h6 class="graytext" ng-show="item.isadmin">
					Invite at Least {{challenge.numplayers}} Players
				</h6>
		<div class="card" style="background-color:rgb(62,83,100);margin:10px 5px 0px 5px" ng-show="!notloaded">
			<!--  <a class="item item-thumbnail-left" ng-href="#/app/reservestadiumdetails/{{stadiums.stadiumkey}}"> -->

			<div align="center">
				<h4 class="whitetext">
					Players List
				</h4>
				
			</div>

			<div class="row " ng-repeat="item in myplayers">
				<div>
					<img src="{{item.photoURL}}" style="margin-top:5px;border-radius:50px;border:1px solid #5f7485;width:42px;height:42px">
				</div>
				<div class="col col-30">
					<h5 class="whitetext">
						{{item.firstname}} {{item.lastname}}
					</h5>
				</div>

				<div class="col" ng-hide="notloaded">

					<div align="center">
						<button ng-show="item.status == 0 && !item.isadmin" class="button button-block button-balanced" style="border-radius:50px;padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:white"
						 type="submit" ng-click="InvitePlayer(challenge,item)"> Invite
</button>

						<button ng-show="item.status == 1 && !item.isadmin" class="button button-block button-energized" style="border-radius:50px;padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:white"
						 type="submit"> Pending
</button>

						<button ng-show="item.status == 5 && !item.isadmin" class="button button-block button-balanced" style="border-radius:50px;padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:white"
						 type="submit"> Accepted
</button>
						<button ng-show="item.status == 3 && !item.isadmin" class="button button-block button-assertive" style="border-radius:50px;padding:2px 4px 1px;min-width:28px;min-height:30px;line-height:26px;color:white"> Cancelled
</button>

					</div>

				</div>


			</div>
		</div>

		<hr style="height:0px; visibility:hidden;">
		<div class="button-bar" ng-hide="notloaded || (!isadmin)">
			<button class="button  button-assertive" ng-click="CancelChallenge(challenge)">Cancel Challenge</button>
		</div>
		<br />



	</ion-content>

</ion-view>