<!--Ari-->
<ion-view view-title="Register">
	<style>
		body {
			background-color: lightgrey;
		}
		
		h4.titles {
			color: white;
			background-color: mediumseagreen;
			text-align: center;
			height: 25px;
			border-radius: 20px;
		}
				.headercolor{
			background-color: rgb(62,83,100);
			color: white
		}
	</style>




	<ion-content style="background-image:url(img/LoginBack.jpg); background-size:120% 100%;" ng-controller="LoginController">


		<div>
			<br />
			<br />

		</div>

		<!--  <div style="padding-left:20px">
            <img src="img/Logo.png" style="height:30%; width:40%">
        </div>
      -->

		<div align="center">

			<img src="img/loggo.png" style="width:140px;height:70px " ng-click="FacebookLogin()">
		</div>
		<br />
		<br />
		<div align="center">

			<div class="list" style="width:90%; padding-left:0px">
				<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="text"  placeholder="Username" ng-model="registerdata.displayname" style="color:white;background-color:transparent;padding-left:2px">

            </label>
			<br>

           	    <label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="text"  placeholder="First Name" ng-model="registerdata.firstname" style="color:white;background-color:transparent;padding-left:2px">
            </label>
<br>
            	<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="text"  placeholder="Last Name" ng-model="registerdata.lastname" style="color:white;background-color:transparent;padding-left:2px">
            </label>
<br>

				<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="email"  placeholder="Email" ng-model="registerdata.email" style="color:white;background-color:transparent;padding-left:2px">

            </label>
<br>
				<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="password"  placeholder="Password" ng-model="registerdata.password" style="color:white;background-color:transparent;padding-left:2px">

            </label>
 
<br>
            	<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="text"  placeholder="Retype Password" ng-model="registerdata.confirmpassword" style="color:white;background-color:transparent;padding-left:2px">

            </label>

        
			
			<div class="padding" style="width:100%;" align="center">
			<button style="min-height:10px;line-height:40px;width:100%;border-radius: 20px" class="button button-balanced small_button"ng-click="Register()">
                Register
            </button>
            </div>
            </div>
			</div>
            

		</div>


	</ion-content>
</ion-view>