<!--Ari-->
<ion-view view-title="Login Page">
	<style>
		body {
			background-color: lightgrey;
		}
		
		h4.titles {
			color: white;
			background-color: mediumseagreen;
			text-align: center;
			height: 25px;
			border-radius: 20px;
		}
	</style>


	<body>




	</body>
	<ion-content style="background-image:url(img/LoginBack1.jpg); background-size:100% 100%;" ng-controller="LoginController">


		<!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->
		<div>
			<hr style="height:3px; visibility:hidden;" />
			<br />
			<br />
		


		</div>
<hr style="height:62px; visibility:hidden;" />
		<br />
		<!--  <div style="padding-left:20px">
            <img src="img/Logo.png" style="height:30%; width:40%">
        </div>


		<div align="center">

			<img src="img/loggo.png" style="width:145x;height:75px ">
			-->
		</div>
		<hr style="height:12px; visibility:hidden;" />
		<br />
		
		<div align=center>
 

			
			<div class="list" style="width:95%; padding-left:0px">
				<label class="item item-input madzoun" style="padding:2px 2px 2px 10px;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input type="text" ng-model="registerusername" style="color:white;background-color:transparent;padding-left:2px">

            </label>
				<br>
				<label class="item item-input" style="padding:2px 2px 2px 10px;background-color:transparent; color:white; border-radius:5px; border-color:#97a7b4">
                <input type="password" ng-model="registerpassword" style="color:white;padding-left:2px">

            </label>
			</div>
		</div>

		<div class="padding" style="width:100%;" align="center">
			<button style="min-height:10px;line-height:40px;width:100%;border-radius: 20px" class="button button-balanced small_button" ng-click="LogIn(user)">
                Sign in
            </button>

		</div>

		<!--	<div style= "padding-left: 20px" align="center" >

			<img src="img/facebook2.png" style="width:230px; " ng-click="FacebookLogin()">
		</div> -->

		<div  align="center" style="padding:0 10px 0 10px">
			<button class="button small_button" style="min-height:10px;line-height:40px;background-color:#3b5998;width:100%;color:white;border-radius: 20px" ng-click="FacebookLogin()">
                Sign in with Facebook
            </button>

		</div>

		<div align="center">
			<h4 style="padding-top:0px;font-weight:bold;color:white; font-size:15px">
				or
			</h4>
		
		<div class="padding" align="center" style="margin-top:-10px">
			<button class="button button-balanced small_button" style="min-height:10px;line-height:40px;width:100%;color:#2ab041;background-color:white;border-radius: 20px;border-top:-5px" ng-click="GoToRegister()">
                Register with Email
            </button>

		</div>
		<hr style="height:0px; visibility:hidden;" />

		<div align="center">
			<h6 style="color:white" ng-click="GoToForgetPass()">
				Forgot your password?
			</h6>
		</div>

		</div>

	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>
	<!--<div class="bar bar-footer ">
    </div>-->
</ion-view>