<!--Ari-->
<ion-view view-title="Register">
	<style>
		body {
			background-color: lightgrey;
		}
		
		h4.titles {
			color: white;
			background-color: mediumsea#28b041;
			text-align: center;
			height: 25px;
			border-radius: 20px;
		}
		
		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white
		}
		
		input {
			width: 90%;
			display: block;
			border: none;
			padding: 0px;
			-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2ab041 4%);
			background-position: -200px 0;
			background-size: 100px 200%;
			background-repeat: no-repeat;
			color: #2ab041;
		}
		
		input:focus,
		input:valid {
			box-shadow: none;
			outline: none;
			background-position: 0 0;
		}
		
		input::-webkit-input-placeholder {
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		
		input:focus::-webkit-input-placeholder,
		input:valid::-webkit-input-placeholder {
			color: #2ab041;
			font-size: 12px;
			-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
			visibility: visible !important;
		}
	</style>




	<ion-content style="background-image:url(img/LoginBack.jpg); background-size:120% 100%;" ng-controller="LoginController">


		<div>
			<br>
			<br>

		</div>

		<!--  <div style="padding-left:20px">
            <img src="img/Logo.png" style="height:30%; width:40%">
        </div>
      -->

		<div align="center">

					<img ng-src="{{userImage}}" style="width:100px;height:100px;border-radius:50px;border:3px solid rgb(153, 167, 180) "
			 ng-click="chooseImage()">
		</div>
		<div class="row" align="center" style="padding:0 25%">

			<button class="button button-block button-balanced button-small" ng-click="chooseImage()" style="font-size:1em;border-radius:50px">
                 Change Picture
           </button>
		</div>

		<br>
		<div style="padding-left:20px">
			<h5 style="color:Red">
				{{errormessage}}
			</h5>
			<h5 style="color:Red">
				{{errormessage1}}
			</h5>
		</div>
		<div align="center" style="padding-top:10px;padding-bottom:10px">


			<input placeholder="First Name" ng-model="registerdata.firstname" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
			 placeholder="First Name" input-restrictor type="text" required >
			<br>
			<input ng-model="registerdata.lastname" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
			 type="text" input-restrictor placeholder="Last Name" required>
			<br>
			<input ng-model="registerdata.email" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
			 type="email" placeholder="Email" required>
			<br>
			<input ng-model="registerdata.password" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
			 type="password" placeholder="Password"required>
			<br>
		</div>


		<div class="padding" align="center" style="margin-top:-10px">
			<button class="button button-balanced small_button" style="min-height:6vh;line-height:6vh;width:100%;color:white;background-color:#2ab041;border-radius: 20px;border-top:-5px"
			 ng-click="Register()">
                Register
            </button>

		</div>



	</ion-content>
</ion-view>