<ion-view view-title="Login Page">
	<style>
		body {
			background-color: lightgrey;
		}
		
		h4.titles {
			color: white;
			background-color: mediumsea#28b041;
			text-align: center;
			height: 25px;
			border-radius: 20px;
		}
	</style>


	<body>




	</body>
	<ion-content style="background-image:url(img/LoginBack.jpg); background-size:120% 100%;">


		<!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->
		<div>
			<br />
            <br />

		</div>

		<!--  <div style="padding-left:20px">
            <img src="img/Logo.png" style="height:30%; width:40%">
        </div>
      -->

		<hr style="height:9vh;border:hidden">
		</hr>

    <div align="center">

			<img src="img/loggo.png" style="width:43%;height:13vh">

		</div>
				<hr style="height:2vh; visibility:hidden;" />
		<br />

		<div align="center">
			<div class="list" style="width:95%; padding:10px">
				<label class="item item-input" style="padding: 0.3vh 0.3vh 0.3vh 2.5vh;background-color:transparent; color:#ffffff; border-radius:5px; border-color:#97a7b4">
                <input placeholder="Enter Your Email Address" type="email" ng-model="email.address" style="color:white;background-color:transparent;">
			</div>
		</div>
		

		<div class="padding" style="width:100%" align="center">
			<button style="padding-bottom:0px;min-height:10px;line-height:6.5vh;width:100%;border-radius: 20px" class="button button-balanced small_button"
			 ng-click="submit()">
                Reset Password
            </button>

		</div>



	</ion-content>

	<!--<div class="bar bar-footer ">
    </div>-->
</ion-view>