<!--Ari-->
<ion-view view-title="Login Page">
	<style>
		.h3.whitetext,
		h2.whitetext,
		h1.whitetext,
		h4.whitetext,
		h6.whitetext,
		h6.whitetext,
		p.whitetext {
			color: white;
			height: 8px
		}
		
		.popup {
			border-radius: 50px;
			font-size: 15px;
		}
		
		.popup-buttons .button:first-child {
			border-radius: 50px;
			background-color: #2ab041;
			margin: 5px;
			padding: 0px;
			width: 80%
		}
		
		.popup-body {
			padding: 15px;
			margin: -5px;
			background-color: rgb(62, 83, 100);
			color: white;
			text-align: center;
			border-radius: 15px 15px 0 0;
		}
		
		.popup-buttons {
			padding: 10px 5px 5px 5px;
			margin: -5px;
			background-color: rgb(62, 83, 100);
			text-align: center;
			border-radius: 0 0 15px 15px;
		}
		
		.popup-head {
			display: none;
		}
		
		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white;
			border-bottom: 2px solid rgb(62, 83, 100);
			border-top: 1px;
		}
		
		body {
			background-color: lightgrey;
		}
		
		h4.titles {
			color: white;
			background-color: mediumseagreen;
			text-align: center;
			height: 25px;
			border-radius: 20px;
		}
		
		i.ion-social-facebook {
			font-size: 30px;
		}
				
		
		input {
			width: 90%;
			display: block;
			border: none;
			padding: 0px;
			-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2ab041 4%);
			background-position: -200px 0;
			background-size: 1000px 200%;
			background-repeat: no-repeat;
			color: #2ab041;
		}
		
		input:focus,
		input:valid {
			box-shadow: none;
			outline: none;
			background-position: 0 0;
		}
		
		input::-webkit-input-placeholder {
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		
		input:focus::-webkit-input-placeholder,
		input:valid::-webkit-input-placeholder {
			color: #2ab041;
			font-size: 1em;
			-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
			visibility: visible !important;
		}
	</style>


	<body>




	</body>
	<ion-content style="background-image:url(img/LoginBack.jpg); background-size:100% 100%;" ng-controller="LoginController">


		<!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->


		<!--  <div style="padding-left:20px">
            <img src="img/Logo.png" style="height:30%; width:40%">
        </div>
-->
	<hr style="height:100px; visibility:hidden">
		<div align="center">

			<img src="img/loggo.png" style="width:43%;height:13vh">

		</div>
<hr style="height:20px; visibility:hidden">
		<div align=center>



			<div style="width:100%;padding:5px 10px 5px 10px" align="center">
				<button class="button" style="min-height:12px;line-height:12px;background-color:#3b5998;width:100%;color:white;border-radius: 20px"
				 ng-click="FacebookLogin()">
             <div class=row style="padding:0px">
				 <div class="col col-10" style="padding:3px 0 0 0">
					 <i class = "ion-social-facebook larger" style="margin-right:50px"> </i> 
					 </div>
				 <div class="col col-80" align="center" style="padding:0;line-height:35px">
					 Sign in with Facebook 
				 </div>
				  <div class="col col-20">
					 
					 </div>
					 </div>
				 </div>
            </button>

			</div>

		</div>

		<div class="padding" style="width:100%;" align="center" ng-show="!toggle">
			<button style="min-height:35px;line-height:35px;width:100%;border-radius: 20px" class="button button-balanced small_button"
			 ng-click="Switch()">
                Already have an account? Log in
            </button>

		</div>


		<div style="width:100%; padding:10px 10px 0 10px" ng-show="toggle">






			<div align=center style="padding-top:10px;padding-bottom:10px">
				<input ng-model="registerusername" align="center" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
				 placeholder="Email" type="text" required>
				<br>
				<input align="center" ng-model="registerpassword" style="padding:20px;background-color:rgba(0, 0, 0, 0.4);padding-left:20px;color:#2ab041;border-radius:5px"
				 placeholder="Password" type="password" required>

			</div>





			<div class="col " style="background-color: transparent">

				<button style="margin:5px 0 10px 0;padding:0px;min-height:6vh;line-height:6vh;width:100%;border-radius: 20px" class="button button-balanced small_button"
				 ng-click="LogIn(user)">
                Sign in
            </button>

			</div>
			<div class="col col-10" style="background-color: transparent">


			</div>
		</div>

		</div>
		</div>



		<!--	<div style= "padding-left: 20px" align="center" >

			<img src="img/facebook2.png" style="width:230px; " ng-click="FacebookLogin()">
		</div> -->


		<div align="center">
			<h4 style="margin-top:-2px;padding-top:0px;font-weight:bold;color:white; font-size:15px">
				or
			</h4>

			

		<div class="padding" style="width:100%;" align="center">
			<button style="min-height:35px;line-height:35px;width:100%;border-radius:20px;background-color:white;color:#2ab041" class="button button-balanced small_button"
				 ng-click="GoToRegister()">
                Register with Email
            </button>

		</div>





			<div align="center">
				<h6 style="color:white" ng-click="GoToForgetPass()">
					Forgot your password?
				</h6>
			</div>

		</div>

	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>
	<!--<div class="bar bar-footer ">
    </div>-->
</ion-view>