<style>
.h3.whitetext,
	h2.whitetext,
	h1.whitetext,
	h4.whitetext,
	h5.whitetext,
	h6.whitetext,
	p.whitetext {
		color: white;
	}

	.h3.bluetext,
	h2.bluetext,
	h1.bluetext,
	h4.bluetext,
	h5.bluetext,
	h6.bluetext,
	p.bluetext {
		color: darkblue;
	}

	.h3.greytext,
	h2.greytext,
	h1.greytext,
	h4.greytext,
	h5.greytext,
	h6.greytext,
	p.greytext {
		color: gray;
	}
	  .item .item-content1 {
  background-color: white;
  color:black;
  border:rgb(64, 64, 64);
  border-color:rgb(64, 64, 64);
}
	
	.popup-body {
		background-color: rgb(40, 80, 120);
		color: white;
	}
	
	.popup-head {
		background-color: rgb(40, 80, 120);
		color: white;
	}
	
	.popup-title {
		color: white;
	}
    .headercolor{
        background-color: rgb(62,83,100);
        color: white
    }
</style>


<ion-view view-title="Reserve">

	<ion-nav-buttons side="primary">
		<button class="button button-icon ion-android-funnel" ng-click="popover.show($event)"></button>

	</ion-nav-buttons>

	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>



	<ion-content style="background-color:rgb(44,60,73)">


<script id="templates/my-popover.html" type="text/ng-template">
            <ion-popover-view style="height:500px;width:250px">
                <ion-content>
                        <div align="center">
                            <h4 >Search filter</h4>
                        </div>

							<div class="list">

							<label class="item item-input item-select">
								<div class="input-label">
										Sort By	
								</div>
								<select  ng-model="choice.sort">
								<option >Revelence</option>
								<option >Rating</option>
								<option> Price</option>
								<option> Distance</option>
								</select>
							</label>

							</div>
							<div>
								
                                <ion-checkbox style="background-color:white"  ng-model="filter.indoor">Indoor</ion-checkbox>
								<ion-checkbox style="background:white"  ng-model="filter.outdoor">Outdoor</ion-checkbox>
								<ion-checkbox style="background:white"  ng-model="filter.grass">Grass</ion-checkbox>
								<ion-checkbox style="background:white"  ng-model="filter.clay">Clay</ion-checkbox>
								</div>

								<div style="padding-left:20px;padding-right:20px">
								<rzslider rz-slider-model="filter.money " rz-slider-high="200000" rz-slider-options="slider6.options "
									style="color:white ">
									</rzslider>

							  </div>
								<div class = "row">
									<div class="col col-33">
									<h4 class = "bluetext" ng-click="updatefilter()">
										Apply
									</h4>
										</div>
										<div class="col col-33">
									<h4 class = "bluetext" ng-click="cancelfilter()">
										Cancel
									</h4>
										</div>
										</div>
										

              <!--          <div style="background-color:rgb(90,90,90);color:white ;vertical-align:middle">
                            <h4 class="title" align="center" style="color:white;vertical-align:bottom">Sort By</h4>
                        </div>


                        <div class="row">
                            <div class="col">
                                
                                <ion-radio ng-model="choice.sort" value="rating">Rating</ion-radio>
                            </div>

                            <div class="col">
                                <ion-radio ng-model="choice.sort" value="price">Price</ion-radio>
                                

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-50">
                                <ion-radio ng-model="choice.sort" value="players">Players</ion-radio>
                            </div>

                            <div class="col-50">
                                <ion-radio ng-model="choice.sort" value="'distance">Distance</ion-radio>
                            </div>
                        </div>
                        
						-->



                        <!--<button class="button button-full button-positive" ng-click="closePopover()">
                            OK
                        </button>-->
                </ion-content>
            </ion-popover-view>
        </script>

<div align="center">
	<!--<p style="background-color:lightgray">Date</p>-->
	<label class="item item-input">
                    <input type="datetime-local" step="30"  ng-model="search.date" ng-change="checkfree()">
                </label>
</div>

<div class="card" ng-repeat="stadiums in allfreestadiums | orderBy:choice.sort:reverse" style="background-color:rgb(62,83,100)">
<!--  <a class="item item-thumbnail-left" ng-href="#/app/reservestadiumdetails/{{stadiums.stadiumkey}}"> -->

<div align="center">
	<img src="{{stadiums.photo}}" style="width:100%;height:140px;" ui-sref="app.reservestadiumdetails({stadiumid: stadiums.stadiumkey})">
</div>

<div class="row ">
	<div class="col col-66" style="color:white"> {{stadiums.stadiumname}} / {{stadiums.description}}
</div>

<div class="col" align="right" style="color:lightgray"> Price
</div>

</div>

<div class="row">
	<div class="col col-66" align="left">
		<rating style="color:gold" readonly="readOnly" ng-model=stadiums.rating max="rating.max" align="left">

</rating>

</div>

<div class="col" align="right" style="color:white">
<b>
	
		{{stadiums.price}} L.L.
		</b>
</div>
</div>
</br>
<div class="row ">
	<div class="col" style="color:lightgray"> {{stadiums.stadiumname}}
</div>

<div class="col" style="color:lightgray" align="right"> Type
</div>

<div class="col" style="color:lightgray" align="right"> Size
</div>

</div>


<div class="row ">
	<div class="col" style="color:white">
<b>
		
			2.1km
			</b>
</div>

<div class="col" align="right" style="color:white">
<b>
			{{stadiums.type}}/{{stadiums.typefloor}}
			</b>
</div>

<div class="col" align="right" style="color:white">
<b>
			5vs5
			</b>
</div>

</div>

<!--			<h3 class="whitetext"> Number: <b>{{stadiums.description}}</b></h3> -->

<div class="row">
	<div class="col">
		<button class="button button-block button-balanced button-small" type="submit" ng-disabled="verified" ng-click="reserve(search,stadiums)">
                        Reserve On : {{stadiums.datetime | date:'short'}}
                    </button>
	</div>

</div>


</div>


</ion-content>
</ion-view>