<ion-view view-title="My Profile">
    <style>
        body {
            background-color: lightgrey;
        }

        h3, h2 {
            
        }

        img {
            height: 150px;
            width: 150px;
        }
        		
		.item-input {
			padding: 0 0 0 0;
		}
		
		.item {
			background-color: rgb(62, 83, 100);
		}
    </style>
    <ion-content style="background-color:rgb(46,62,75)">
    

    	<ion-item>

		<div class="row ">
			<div class="col" align="center">
				<img src="{{item.photo}}"  style="width:80px;height:80px;">
<h2 class="whitetext"> {{currentprofile.teamname}} </h2>
<h5 class="whitetext"> {{currentprofile.ranking}} </h5>
</div>

<div class="col" align="center">
	<img src={{team.favstadiumphoto}} style="width:100%;height:80px;">
<h5 class="whitetext"> Fav. Stadium </h5>
<h5 class="whitetext"> {{currentprofile.favstadium}} </h5>
</div>

</div>


<div class="row row-top">
	<div class="col" align="center">
		<h4 style="color:lightgray"> Position
</h4>


</div>

<div class="col " style="color:lightgray" align="center">

<h4 style="color:lightgray"> Age
</h4>

</div>

<div class="col " style="color:lightgray" align="center">


<h4 style="color:lightgray"> Fav Stadium
</h4>
</div>

</div>

<div class="row ">
	<div class="col" align="center" style="color:white"> {{item.playposition}}

</div>

<div class="col" style="color:white" align="center"> {{item.age}}

</div>

<div class="col" style="color:white"> {{item.nummatches}}

</div>

<div class="col" align="right" align="center">

</div>

</div>

<label class="item item-input">
    <textarea ng-model="currentprofile.comments" placeholder="Comments" style="color: white;background-color: transparent"></textarea>
</label>

</ion-item>

<ion-item>
	<div align="center">
		<h2 class="whitetext">
			Availability

		</h2>
	</div>
</ion-item>


<ion-item style="background-color:rgb(62, 83, 100) ">
<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Mon
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startmonday" rz-slider-high="currentprofile.startmondayend " rz-slider-options="slider1.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Tue
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.starttuesday " rz-slider-high="currentprofile.starttuesdayend " rz-slider-options="slider2.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Wed
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startwednesday " rz-slider-high="currentprofile.startwednesdayend " rz-slider-options="slider3.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Thu
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startthursday " rz-slider-high="currentprofile.startthursdayend " rz-slider-options="slider4.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Fri
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startfriday " rz-slider-high="currentprofile.startfridayend " rz-slider-options="slider5.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Sat
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startsaturday " rz-slider-high="currentprofile.startsaturdayend " rz-slider-options="slider6.options "
			style="color:white "></rzslider>
</div>
</div>

<div class="row row-center">
	<div class="col col-20">
		<h3 class="whitetext">
			Sun
		</h3>
	</div>
	<div class="col">
		<rzslider rz-slider-model="currentprofile.startsunday " rz-slider-high="currentprofile.startsundayend " rz-slider-options="slider7.options "
			style="color:white " ng-readonly="currentprofile.amiadmin"></rzslider>
</div>
</div>
</ion-item>
<ion-item>
	<button class="button button-block button-calm button-full" ng-click="UpdateUser(currentprofile)">
                                Save
           </button>

</ion-item>

    </ion-content>

</ion-view>
