<!--Ari-->
<ion-view view-title="My Profile">
	<style>
		img {
			height: 100px;
			width: 100px;
		}
		
		h3.whitetext,
		h2.whitetext,
		h1.whitetext,
		h5.whitetext,
		h4.whitetext,
		p {
			color: white;
		}
		
		.item-input {
			padding: 0 0 0 0;
		}
		
		.item {
			background-color: rgb(62, 83, 100);
		}

		.headercolor{
			background-color: rgb(62,83,100);
			color: white
		}


	</style>
<ion-nav-buttons side="primary">
	<h5 ng-click="goupdate(currentprofile)" style="color:white">
<u>
	Edit
</u>
</h5>
</ion-nav-buttons>



<ion-nav-back-button>
</ion-nav-back-button>
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-nav-bar class="headercolor">
    <ion-nav-back-button>

    </ion-nav-back-button>
</ion-nav-bar>


<ion-content style="background-color:rgb(46,62,75)">


<ion-list>


<div class="card">

	<ion-item>

		<div class="row ">
			<div class="col"  align="center">
				<img src="{{currentprofile.photo}}" style="width:80px;height:80px;border-radius:50px">
				<h4 class="whitetext">404 Not found</h4>
				<h4 Put the 5 digit user ID>
					 </h4>
</div>

<div class="col" style="border-left-style: solid;border-width: thin;border-color: #5f7485;" align="center">
	<img src="img/Badges/{{currentprofile.myteams[0].badge}}.png" style="width:80px;height:80px ">
<h3 class="whitetext"> {{currentprofile.myteams[0].teamname}} </h3>
<h4 class="whitetext" style="color:darkturquoise"> 404 Not Found! </h4>
</div>

</div>


<div class="row row-top">
	<div class="col" style="padding-top:20px" align="center">
	<h4 style="color:lightgray; padding-top:10px"> Position
		<h4 style="color: white; padding-top:5px"> {{currentprofile.playposition}}
</h4>


</div>

<div class="col " style="color:lightgray; padding-top:20px" align="center">
<h4 style="color:lightgray;border-right:1px solid #5f7485;border-left:1px solid #5f7485;margin:0px;padding-top:10px">  Age
</h4>
<h4 style="color: white;border-right:1px solid #5f7485;border-left:1px solid #5f7485;margin:0px;padding-top:10px"> missakchange
</h4>
</div>

<div class="col " style="color:lightgray;padding-top:20px" align="center">


<h4 style="color:lightgray;margin:0px;padding-top:10px"> Fav Stadium
</h4>
<h4 style="color: white;margin:0px;padding-top:10px"> missakchange
</h4>
</div>

</div>

<h4 class="whitetext">
	{{currentprofile.comments}}
</h4>

</ion-item>
</div>

<!--<div class="card">
<ion-item class="row" align="center">
	<div class="col" align="center">
		<button class="button button-full button-balanced" ng-click="Invite()" style="border-radius:15px">Invite Member</button>
</div>

<div class="col" align="center">
	<button class="button button-full button-balanced" ng-click="Challengeteam()" style="border-radius:15px">challenge</button>
</div>
</ion-item>
</div>-->


<!--
<div class="card" style="background-color:rgb(46,62,75)">
<div class="button-bar" style="background-color:rgb(46,62,75)">

	<button class="button button-full button-balanced" ng-click="Invite()" style="border-radius:15px">Invite Member</button>
	<button class="button button-full button-balanced" ng-click="Challengeteam()" style="border-radius:15px">challenge</button>
</div>
</div>
-->
	<div class="card" style="background-color: rgb(62, 83, 100)">
			<ion-item style="border: none;padding:0px">
				<div class="row row-center" align="center" style="padding:0px">
					<div class="col" align="center" style="border-bottom:{{status.Available}};border-color: green;padding:10px; border-right:1px solid #5f7485">
						<h3 class="whitetext" ng-click="switchscreens(1)">
							<b>AVAILABILITY</b>
						</h3>

					</div>

					<div class="col" style="border-bottom: {{status.Statistics}};border-color:green;padding:10px; border-right:1px solid #5f7485">
						<h3 class="whitetext" ng-click="switchscreens(2)">
							<b>STATISTICS</b>
						</h3>

					</div>
					<div class="col" style="border-bottom: {{status.Members}};padding:10px;border-color: green;margin:10px,0">

						<h3 class="whitetext" ng-click="switchscreens(3)">
							<b>MY GAMES</b>
						</h3>

					</div>

				</div>



			</ion-item>


		<ion-item ng-show="tabs.Statistics" style="border: none;padding:0px">


			<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:5px 0 0 0;margin-top:15px">
					<div class='col col-75' >

						<h3 class="whitetext">Games On Arina</h3>
					</div>

					<div class="col">

						<h3 class="whitetext" align="right">1</h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:0px">
					<div class='col col-75' >

						<h3 class="whitetext">Wins</h3>
					</div>

					<div class="col">

				<h3 class="whitetext" align="right">1</h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:0px">
					<div class='col col-75' >

						<h3 class="whitetext">Win Streak</h3>
					</div>

					<div class="col">

					<h3 class="whitetext" align="right">1</h3>
					</div>

				</div>

			</ion-item>

</ion-item>

<ion-item ng-show="tabs.Available" style="border: none;padding:0px">

				<div class="row row-center"style="border-bottom:1px solid #5f7485;margin-top:15px">
					<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Monday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.startmonday}}:00</b> till <b>{{currentprofile.startmondayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center"style="border-bottom:1px solid #5f7485;padding-top:3px">
					<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Tuesday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.starttuesday}}:00</b> till <b>{{currentprofile.starttuesdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center"style="border-bottom:1px solid #5f7485">
					<div class="col"style="margin-top:5px">

					<h3 class="whitetext">Wednesday</h3>
		</div>

		<div class="col"style="margin-top:5px">

			<h3 class="whitetext" align="right">  <b>{{currentprofile.startwednesday}}:00</b> till <b>{{currentprofile.startwednesdayend}}:00</b> </h3>
		</div>

	</div>

		<div class="row row-center"style="border-bottom:1px solid #5f7485; padding-top:3px">
			<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Thursday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.startthursday}}:00</b> till <b>{{currentprofile.startthursdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center"style="border-bottom:1px solid #5f7485">
				<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Friday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.startfriday}}:00</b> till <b>{{currentprofile.startfridayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center"style="border-bottom:1px solid #5f7485">
					<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Saturday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.startsaturday}}:00</b> till <b>{{currentprofile.startsaturdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center"style="border-bottom:1px solid #5f7485">
					<div class="col"style="margin-top:5px">

						<h3 class="whitetext">Sunday</h3>
					</div>

					<div class="col"style="margin-top:5px">

						<h3 class="whitetext" align="right">  <b>{{currentprofile.startsunday}}:00</b> till <b>{{currentprofile.startsundayend}}:00</b> </h3>
					</div>

				</div>



</ion-item>

</ion-list>


<ion-item ng-show="tabs.Members" style="border: none;padding:0px;margin-top:15px">

	<div class="row row-center" ng-repeat="upmatches in currentprofile.upcomingmatches" style="background-color:rgb(62,83,100)">
<div class="col col-75">

	<h4 class="whitetext">{{upmatches.date |date:'MMM d, y h:mm a'}} @ {{upmatches.stadiumdescription}}</h4>
</div>

<div class="col">

	<button ng-show="upmatches.isadmin" class="button button-balanced button-small" style="width:60px;font-size:12px" ng-click="gogamedetails(upmatches.key)"> Manage
</button>

<button ng-show="!(upmatches.isadmin)" class="button button-balanced button-small" style="width:60px;font-size:12px" ng-click="gogamedetails(upmatches.key)"> View
</button>
</div>

</div>
</div>


</ion-item>

</ion-content>
</ion-view>