<ion-view view-title="Add New Team">
	<style>
		body {
			background-color: lightgrey;
		}
		
		h4.titles,
		h5.titles {
			color: white;
			text-align: center;
		}
	</style>

	<ion-content style="background-color:rgb(45,62,75)">

		<h5 style="color:red" ng-show="validate.teamsize" style="padding-left: 10px;padding-right:50px "> Please choose preferred team size
		</h5>
		<div align="center">
			<h5 class="titles">
				<u>Choose Your Preferred Team Size</u>
			</h5>
		</div>
		<div class="button-bar">
			<button class="button" style="background-color: {{managecolors.five.backcolor}} ; color:{{managecolors.five.color}}" ng-click="updateteamsize(1)">5</button>
			<button class="button" style="background-color: {{managecolors.six.backcolor}}; color:{{managecolors.six.color}}" ng-click="updateteamsize(2)">6</button>
			<button class="button" style="background-color: {{managecolors.seven.backcolor}}; color:{{managecolors.seven.color}}" ng-click="updateteamsize(3)">7</button>
			<button class="button" style="background-color: {{managecolors.eight.backcolor}}; color:{{managecolors.eight.color}}" ng-click="updateteamsize(4)">8</button>
			<button class="button" style="background-color: {{managecolors.nine.backcolor}}; color:{{managecolors.nine.color}}" ng-click="updateteamsize(5)">9</button>
			<button class="button" style="background-color: {{managecolors.ten.backcolor}}; color:{{managecolors.ten.color}}" ng-click="updateteamsize(6)">10</button>
			<button class="button" style="background-color: {{managecolors.eleven.backcolor}}; color:{{managecolors.eleven.color}}" ng-click="updateteamsize(7)">11</button>
		</div>


		<div align="center">
			<h5 class="titles">
				<u>Choose Your Team Badge</u>
			</h5>
			<img src="img/Badges/{{adduser.badge}}.png" style="width:70px;height:70px " ng-click="openPopover($event)">
		</div>


		<br>
		<div align="center">
			<h5 class="titles">
				<u>Home Jersey color</u>
			</h5>
		</div>
		<div align="center">
			<img src="img/Jerseys/{{adduser.homejersey}}.png" style="width:70px;height:50px " ng-click="FacebookLogin()">
		</div>
		<div class="button-bar">
			<button class="button button-assertive" ng-click="updatehomejersey(1)"></button>
			<button class="button button-positive" ng-click="updatehomejersey(2)"></button>
			<button class="button button-balanced" ng-click="updatehomejersey(3)"></button>
			<button class="button button-dark" ng-click="updatehomejersey(4)"></button>
			<button class="button button-energized" ng-click="updatehomejersey(5)"></button>
			<button class="button" ng-click="updatehomejersey(6)"></button>
		</div>

		<br>


		<div align="center">
			<h5 class="titles">
				<u>Away Jersey color</u>
			</h5>
		</div>
		<div align="center">
			<img src="img/Jerseys/{{adduser.awayjersey}}.png" style="width:70px;height:50px " ng-click="FacebookLogin()">
		</div>
		<div class="button-bar">
			<button class="button button-assertive" ng-click="updateawayjersey(1)"></button>
			<button class="button button-positive" ng-click="updateawayjersey(2)"></button>
			<button class="button button-balanced" ng-click="updateawayjersey(3)"></button>
			<button class="button button-dark" ng-click="updateawayjersey(4)"></button>
			<button class="button button-energized" ng-click="updateawayjersey(5)"></button>
			<button class="button" ng-click="updateawayjersey(6)"></button>
		</div>
		<br>



		<button class="button button-full button-positive" ng-disabled="disabledbutton" style="background-color:darkorange" ng-click="add()"> ADD TEAM
</button>

	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>

</ion-view>