<ion-view view-title="Add New Team">
	<style>
		body {
			background-color: lightgrey;
		}


		h4.titles,
		h5.titles {
			color: white;
			text-align: center;
		}
	</style>

	<ion-content style="background-color:rgb(45,62,75)">


		<div class="row">

			<div class="col">
				<img src="img/Badges/01.png" style="width:30px;height:30px " ng-click="RefreshBadge('01')">

			</div>

			<div class="col">
				<img src="img/Badges/02.png" style="width:30px;height:30px " ng-click="RefreshBadge('02')">

			</div>

			<div class="col">
				<img src="img/Badges/03.png" style="width:30px;height:30px " ng-click="RefreshBadge('03')">

			</div>

			<div class="col">
				<img src="img/Badges/04.png" style="width:30px;height:30px " ng-click="RefreshBadge('04')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/05.png" style="width:30px;height:30px " ng-click="RefreshBadge('05')">

			</div>

			<div class="col">
				<img src="img/Badges/06.png" style="width:30px;height:30px " ng-click="RefreshBadge('06')">

			</div>

			<div class="col">
				<img src="img/Badges/07.png" style="width:30px;height:30px " ng-click="RefreshBadge('07')">

			</div>

			<div class="col">
				<img src="img/Badges/08.png" style="width:30px;height:30px " ng-click="RefreshBadge('08')">

			</div>

		</div>




		<div class="row">



			<div class="col">
				<img src="img/Badges/09.png" style="width:30px;height:30px " ng-click="RefreshBadge('09')">

			</div>
			<div class="col">
				<img src="img/Badges/10.png" style="width:30px;height:30px " ng-click="RefreshBadge('10')">

			</div>

			<div class="col">
				<img src="img/Badges/11.png" style="width:30px;height:30px " ng-click="RefreshBadge('11')">

			</div>

			<div class="col">
				<img src="img/Badges/12.png" style="width:30px;height:30px " ng-click="RefreshBadge('12')">

			</div>


		</div>



		<div class="row">

			<div class="col">
				<img src="img/Badges/13.png" style="width:30px;height:30px " ng-click="RefreshBadge('13')">

			</div>

			<div class="col">
				<img src="img/Badges/14.png" style="width:30px;height:30px " ng-click="RefreshBadge('14')">

			</div>

			<div class="col">
				<img src="img/Badges/15.png" style="width:30px;height:30px " ng-click="RefreshBadge('15')">

			</div>


			<div class="col">
				<img src="img/Badges/b01.png" style="width:30px;height:30px " ng-click="RefreshBadge('b01')">

			</div>
		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/b02.png" style="width:30px;height:30px " ng-click="RefreshBadge('b02')">

			</div>

			<div class="col">
				<img src="img/Badges/b03.png" style="width:30px;height:30px " ng-click="RefreshBadge('b03')">

			</div>

			<div class="col">
				<img src="img/Badges/b04.png" style="width:30px;height:30px " ng-click="RefreshBadge('b04')">

			</div>

			<div class="col">
				<img src="img/Badges/b05.png" style="width:30px;height:30px " ng-click="RefreshBadge('b05')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/b06.png" style="width:30px;height:30px " ng-click="RefreshBadge('b06')">

			</div>


			<div class="col">
				<img src="img/Badges/b07.png" style="width:30px;height:30px " ng-click="RefreshBadge('b07')">

			</div>

			<div class="col">
				<img src="img/Badges/b08.png" style="width:30px;height:30px " ng-click="RefreshBadge('b08')">

			</div>

			<div class="col">
				<img src="img/Badges/b09.png" style="width:30px;height:30px " ng-click="RefreshBadge('b09')">

			</div>

		</div>



		<div class="row">

			<div class="col">
				<img src="img/Badges/b10.png" style="width:30px;height:30px " ng-click="RefreshBadge('b10')">

			</div>

			<div class="col">
				<img src="img/Badges/b11.png" style="width:30px;height:30px " ng-click="RefreshBadge('b11')">

			</div>

			<div class="col">
				<img src="img/Badges/b12.png" style="width:30px;height:30px " ng-click="RefreshBadge('b12')">

			</div>

			<div class="col">
				<img src="img/Badges/b13.png" style="width:30px;height:30px " ng-click="RefreshBadge('b13')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/b14.png" style="width:30px;height:30px " ng-click="RefreshBadge('b14')">

			</div>

			<div class="col">
				<img src="img/Badges/b15.png" style="width:30px;height:30px " ng-click="RefreshBadge('b15')">

			</div>

			<div class="col">
				<img src="img/Badges/c01.png" style="width:30px;height:30px " ng-click="RefreshBadge('c01')">

			</div>

			<div class="col">
				<img src="img/Badges/c02.png" style="width:30px;height:30px " ng-click="RefreshBadge('c02')">

			</div>

		</div>


		<div class="row">



			<div class="col">
				<img src="img/Badges/c03.png" style="width:30px;height:30px " ng-click="RefreshBadge('c03')">

			</div>


			<div class="col">
				<img src="img/Badges/c04.png" style="width:30px;height:30px " ng-click="RefreshBadge('c04')">

			</div>

			<div class="col">
				<img src="img/Badges/c05.png" style="width:30px;height:30px " ng-click="RefreshBadge('c05')">

			</div>

			<div class="col">
				<img src="img/Badges/c06.png" style="width:30px;height:30px " ng-click="RefreshBadge('c06')">

			</div>

		</div>


		<div class="row">

			<div class="col">
				<img src="img/Badges/c07.png" style="width:30px;height:30px " ng-click="RefreshBadge('c07')">

			</div>

			<div class="col">
				<img src="img/Badges/c08.png" style="width:30px;height:30px " ng-click="RefreshBadge('c08')">

			</div>

			<div class="col">
				<img src="img/Badges/c09.png" style="width:30px;height:30px " ng-click="RefreshBadge('c09')">

			</div>

			<div class="col">
				<img src="img/Badges/c10.png" style="width:30px;height:30px " ng-click="RefreshBadge('c10')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/c11.png" style="width:30px;height:30px " ng-click="RefreshBadge('c11')">

			</div>

			<div class="col">
				<img src="img/Badges/c12.png" style="width:30px;height:30px " ng-click="RefreshBadge('c12')">

			</div>

			<div class="col">
				<img src="img/Badges/c13.png" style="width:30px;height:30px " ng-click="RefreshBadge('c13')">

			</div>

			<div class="col">
				<img src="img/Badges/c14.png" style="width:30px;height:30px " ng-click="RefreshBadge('c14')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/c15.png" style="width:30px;height:30px " ng-click="RefreshBadge('c15')">

			</div>


			<div class="col">
				<img src="img/Badges/d01.png" style="width:30px;height:30px " ng-click="RefreshBadge('d01')">

			</div>

			<div class="col">
				<img src="img/Badges/d02.png" style="width:30px;height:30px " ng-click="RefreshBadge('d02')">

			</div>

			<div class="col">
				<img src="img/Badges/d03.png" style="width:30px;height:30px " ng-click="RefreshBadge('d03')">

			</div>

		</div>


		<div class="row">

			<div class="col">
				<img src="img/Badges/d04.png" style="width:30px;height:30px " ng-click="RefreshBadge('d04')">

			</div>

			<div class="col">
				<img src="img/Badges/d05.png" style="width:30px;height:30px " ng-click="RefreshBadge('d05')">

			</div>

			<div class="col">
				<img src="img/Badges/d06.png" style="width:30px;height:30px " ng-click="RefreshBadge('d06')">

			</div>


			<div class="col">
				<img src="img/Badges/d07.png" style="width:30px;height:30px " ng-click="RefreshBadge('d07')">

			</div>

		</div>




		<div class="row">


			<div class="col">
				<img src="img/Badges/d08.png" style="width:30px;height:30px " ng-click="RefreshBadge('d08')">

			</div>

			<div class="col">
				<img src="img/Badges/d09.png" style="width:30px;height:30px " ng-click="RefreshBadge('d09')">

			</div>

			<div class="col">
				<img src="img/Badges/d10.png" style="width:30px;height:30px " ng-click="RefreshBadge('d10')">

			</div>

			<div class="col">
				<img src="img/Badges/d11.png" style="width:30px;height:30px " ng-click="RefreshBadge('d11')">

			</div>

		</div>



		<div class="row">



			<div class="col">
				<img src="img/Badges/d12.png" style="width:30px;height:30px " ng-click="RefreshBadge('d12')">

			</div>

			<div class="col">
				<img src="img/Badges/d13.png" style="width:30px;height:30px " ng-click="RefreshBadge('d13')">

			</div>

			<div class="col">
				<img src="img/Badges/d14.png" style="width:30px;height:30px " ng-click="RefreshBadge('d14')">

			</div>

			<div class="col">
				<img src="img/Badges/d15.png" style="width:30px;height:30px " ng-click="RefreshBadge('d15')">

			</div>

		</div>

		<div align="center">
			<h5 class="titles">
				<u>Choose Your Team Badge</u>
			</h5>
			<img src="img/Badges/{{badge}}.png" style="width:70px;height:70px ">
		</div>


		<button class="button button-full button-positive" ng-disabled="disabledbutton" style="background-color:darkorange" ng-click="next()"> NEXT
</button>

	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>

</ion-view>