<ion-view view-title="Choose Your Jersey">
<style>
		body {
			background-color: lightgrey;
		}
		
		img {
		height: 150px;
		width: 150px;
		}
		.bar {
			border-width:0px
		}
		.item-input {
			padding: 0 0 0 0;
		}
		
		.item {
			background-color: rgb(46, 62, 75);
		}
   	.popup {
		border-radius:50px;
		font-size:15px;
	}

	
    
    .headercolor {
        background-color: rgb(62, 83, 100);
        color: white;
        border-bottom: 2px solid rgb(62, 83, 100);
        border-top:1px;
    }
		
		.h3.whitetext,
		h2.whitetext,
		h1.whitetext,
		h4.whitetext,
		h5.whitetext,
		h6.whitetext,
		p.whitetext {
			color: white;
		}
		
		.h3.greytext,
		h2.greytext,
		h1.greytext,
		h4.greytext,
		h5.greytext,
		h6.greytext,
		p.greytext {
			color: rgb(153, 167, 180);
		}
	</style>
<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear <ion-></ion->navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-bar class="headercolor">
		<ion-nav-buttons side="right">
			<h5 ng-disabled="disabledbutton" style="padding-right:10px;color:white;font-weight:bold"  ng-click="add()">

				CREATE

			</h5>
		</ion-nav-buttons>
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content style="background-color:rgb(45,62,75)">

	
				<h5 align="center" style="font-weight:bold;color:white">
							HOME JERSEY
			</h5>
		<div align="center">
			<img src="img/Jerseys/{{adduser.homejersey}}.png" style="padding-bottom:5px;width:70px;height:70px " ng-click="FacebookLogin()">
		</div>
		<div class="button-bar">
			<button class="button button-assertive button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updatehomejersey(1)"></button>
			<button class="button button-positive button-small" style="margin:10px;border-radius:50px"ng-click="updatehomejersey(2)"></button>
			<button class="button button-balanced button-small" style="margin:10px;border-radius:50px"ng-click="updatehomejersey(3)"></button>
		
		</div>
		<div class="button-bar" style="margin-top:-10px">
			<button class="button button-small" style="background-color:black;min-height:35px;margin:10px;border-radius:50px"ng-click="updatehomejersey(4)"></button>
			<button class="button button-energized button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updatehomejersey(5)"></button>
			<button class="button button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updatehomejersey(6)"></button>
    </div>


		<h5 align="center" style="margin-bottom:0px;font-weight:bold;color:white">
			
				AWAY JERSEY
			</h5>
	
		<div align="center" style="margin-bottom:-5px;padding:10px 0;color:white">
			<img src="img/Jerseys/{{adduser.awayjersey}}.png" style="width:70px;height:70px " ng-click="FacebookLogin()">
		</div>
			<div class="button-bar">
			<button class="button button-assertive button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updateawayjersey(1)"></button>
			<button class="button button-positive button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updateawayjersey(2)"></button>
			<button class="button button-balanced button-small" style="min-height:35px;margin:10px;border-radius:50px"ng-click="updateawayjersey(3)"></button>
		
		</div>
		<div class="button-bar" style="margin-top:-10px">
			<button class="button button-small" style="background-color:black;min-height:35px;margin:10px;border-radius:50px"ng-click="updateawayjersey(4)"></button>
			<button class="button button-energized button-small" style="margin:10px;border-radius:50px"ng-click="updateawayjersey(5)"></button>
			<button class="button button-small" style="margin:10px;border-radius:50px"ng-click="updateawayjersey(6)"></button>
		</div>
	


<button class="button button-balanced button-small" ng-disabled="disabledbutton" ng-click="add()" style="width:60%;margin-left:20%;margin-top:10px;font-weight:bold;padding:5px;border-radius:50px">
               CREATE
           </button>
		   <br>
	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>

</ion-view>