<style>

    
    .headercolor {
        background-color: rgb(62, 83, 100);
        color: white;
        border-bottom: 2px solid rgb(62, 83, 100);
        border-top: 1px;
    }
    
    .spinner svg {
        width: 10% !important;
        height: 100px !important;
        stroke: #2ab041;
        fill: #2ab041;
    }
</style>
<ion-view view-title="My Teams">

    <ion-floating-button ng-show="showadd" ng-click="gotoadd()" has-footer="true" button-color="#2ab041" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>


    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <h5 style="padding-right:10px;color:white;font-weight:bold" ng-click="gotoadd()">

            Create

        </h5>
    </ion-nav-buttons>


    <ion-nav-bar class="headercolor">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content style="background-color:rgb(45,62,75)">
        	<div class="spinner" align="center" ng-show="notloaded">
			<ion-spinner name="bubbles" style="color:white"  icon="lines"></ion-spinner>
        </div>

        <div ng-repeat="team in myteams" style="padding:0 10px">
            <a class="item item-thumbnail-left" href="#/app/teamprofile/{{team.key}}" style="border-radius:5px;background-color:rgb(62,83,100);margin-top:10px;border:hidden">
                <img src="img/Badges/{{team.badge}}.png" style="width:65px;height:65px; margin-top:10px;margin-left:15px ">

                <div align="center" style="padding-right:0px;margin-top:-5px">
                    <h2 style="text-transform:capitalize;color:white;font-size:16px;font-weight:bold">
                        <b>{{team.teamname}}</b></h2>
                </div>
                <div align="center" style="padding-right:0px; color:darkturquoise; font-size:12px; font-weight:bold">{{team.rankdescription}}
                </div>
                <hr style="height:1px; visibility:hidden;" />
                <h4 style="color: #5f7485;float:left; width:50%; padding-left:25px;margin:0px"> MEMBERS
                </h4>
                <h4 style="color: #5f7485;float:left; width:40%;margin-left:-15px;border-left:solid;margin:0px; border-width:thin; border-color: #5f7485;padding-left:25px">
                    RATING
                </h4>
                <h4 style="color:white;float:left; width:50%;padding-left:48px;top:0px;margin:0px"> <b>{{team.members}}</b>
                </h4>
                <h4 style="color:darkturquoise;float:left; width:50%;margin:0px;border-left:solid; border-width:thin; border-color: #5f7485;padding-left:29px">
                    {{team.rating}}</b>
                </h4>

            </a>

        </div>
        <br />
        <br />


    </ion-content>


    <!--  <div class="bar bar-footer ">
        <a href="#/app/teamadd" class="button button-calm button-large ion-plus-round">Create New Team</a>
    </div> -->


</ion-view>