<!--Ari-->
<ion-view view-title="Team Profile" align="center">
	<style>
	.icon {
			font-size: 18px;
		}

		.img {
			height: 100px;
			width: 100px;
		}

		h3.whitetext,
		h2.whitetext,
		h1.whitetext,
		h4.whitetext,
		h5.whitetext,
		h6.whitetext,
		p.whitetext {
			color: white;
		}

		.h3.greytext,
		h2.greytext,
		h1.greytext,
		h4.greytext,
		h5.greytext,
		h6.greytext,
		p.greytext {
			color: #5f7485;
		}

		.item-input {
			padding: 0 0 0 0;
		}

		.item {
			background-color: rgb(62, 83, 100);
		}

		hr {
			display: block;
			height: 2px;
			border: 0;
			border-top: 2px solid #28b041;
			margin: 1em 0;
			padding: 0;
		}

	
		.headercolor {
			background-color: rgb(62, 83, 100);
			color: white;
			border-bottom: 2px solid rgb(62, 83, 100);
			border-top: 3px;
		}

		.card {
			background-color: transparent
		}

	</style>


	<ion-nav-buttons side="right">
 <button class="button icon ion-compose" style="color:#2ab041;background-color:rgb(62,83,100)" ng-show="currentprofile.amiadmin" ng-click="goupdate(currentprofile)"></button>
</ion-nav-buttons>

	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-nav-back-button>
	</ion-nav-back-button>


	<ion-nav-bar class="headercolor">
		<ion-nav-back-button>

		</ion-nav-back-button>
	</ion-nav-bar>


	<ion-content style="background-color:rgb(46,62,75)">

		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
		</ion-refresher>
		<div class="card">
			<ion-item style="padding:0px">

				<div class="row">
					<div class="col" align="center" style="padding:0px;border-right:1px solid #5f7485">
						<img src="img/Badges/{{currentprofile.badge}}.png" style="width:80px;height:80px">
						<h3 class="whitetext" style="font-weight:bolder;text-transform:Capitalize"> {{currentprofile.teamname}} </h3>

					</div>

					<div class="col" style="padding: 0 0 0 5px" align="center">
						<!--<img src={{team.favstadiumphoto}} style="border-radius:10px;width:100%;height:80px" ui-sref="app.reservestadiumdetails({stadiumid: currentprofile.favstadiumkey})">-->
						<img src="{{stadiumdisplayed.picture}}" style="border-radius:10px;width:100%;height:80px" ui-sref="app.reservestadiumdetails({stadiumid: currentprofile.favstadiumkey})">
						<div class="whitetext" style="font-size:12px;color:#5f7485"> FAVORITE STADIUM </div>

					</div>

				</div>
				<div class="row" style="margin-bottom:8px;padding:0px">
					<div class="col col-40" style="padding:0 0 0 12%" align="center">


						<div align="center" style="font-size:14px;color:darkturquoise">
							{{currentprofile.rankdescription}}
						</div>
					</div>
					<div class="col col-10" style="padding:0px;font-size:20px;padding:0px;color:#2ab041" align="center">
						<img src="img/{{currentprofile.availablepng}}.png" style="width:15px;height:15px;">

					</div>


					<div class="col col-50" style="font-size:14px;padding:0px;color:white" align="center">
						{{stadiumdisplayed.name}}
					</div>
				</div>
				<div class="row row-top">
					<div class="col" style="padding-top:10px" align="center">
						<h4 style="color:#5f7485;border-right:1px solid #5f7485;margin:0px"> MATCHES
						</h4>
						<h3 style="padding-top:5px;color:white;border-right:1px solid #5f7485"> {{currentprofile.numberofmatches}}
						</h3>
					</div>

					<div class="col " style="padding-top:10px;color:#5f7485" align="center">

						<h4 style="color:#5f7485;border-right:1px solid #5f7485;margin:0px"> RATING
						</h4>
						<h3 style="padding-top:5px;color:darkorange;border-right:1px solid #5f7485"> {{currentprofile.rating}}
						</h3>
					</div>

					<div class="col " style="padding-top:10px;color:#5f7485" align="center">

						<h4 style="color:#5f7485;margin:0px"> TEAM SIZE
						</h4>
						<h3 style="font-weight:bold;color:white;margin:0px;padding-top:5px"> {{currentprofile.teamsizestring}}
						</h3>
					</div>


				</div>

				<div class="row ">
					<div class="col" align="center" style="color:white"> {{item.playposition}}

					</div>

					<div class="col" style="color:white" align="center"> {{item.age}}

					</div>

					<div class="col" style="color:white"> {{item.nummatches}}

					</div>

					<div class="col" align="right" align="center">

					</div>

				</div>

				<h3 class="whitetext" style="white-space:normal;font-style:italic;padding:0 5px 5px" align="left">
					{{currentprofile.comments}}
				</h3>

			</ion-item>
		</div>


		<!--<div class="row" align="center">
	<div class="col" align="center">
		<button class="button button-full button-balanced" ng-click="Invite()" style="border-radius:15px">Invite Member</button>
</div>

<div class="col" align="center">
	<button class="button button-full button-balanced" ng-click="Challengeteam()" style="border-radius:15px">challenge</button>
</div>
</div> -->


		<div class="row row-top" style="background-color:rgb(46,62,75);padding-top: 0px;margin-bottom:-25px;margin-top:-20px">

			<div class="col" align="center">
				<button class="button  button-balanced button-full" style="min-height:35px;border-radius:45px" ng-click="GoMatchHistory()">
					<h5 class="whitetext">
						Match History
					</h5>
					
					</button>

			</div>


			
			<div class="col" align="center">
				<button class="button  button-balanced button-full" style="min-height:35px;border-radius:45px" ng-click="Invite()" ng-show="currentprofile.amiadmin">
					<h5 class="whitetext">
						Invite Members		
					</h5>
					</button>
			</div>
		</div>

		<div class="card" style="padding-bottom:0px; margin-bottom:10px" ng-hide="currentprofile.upcomingmatches.length === 0">
			<ion-item style="border:none;padding:10px 0 10px 0">
				<div align="center">
					<div style="color:White;font-size:16px">
						UPCOMING GAMES

					</div>
				</div>
			</ion-item>

			<div class="row row-center" ng-repeat="upmatches in currentprofile.upcomingmatches" style="border-bottom:0px;background-color:rgb(62,83,100); padding:0px">
				<div class="col col-75" align="left" style="border-bottom:1px solid #5f7485;padding:5px 0 4px 5px">

					<h5 class="whitetext">{{upmatches.date |date:'MMM d, y h:mm a'}} @ {{upmatches.stadiumdescription}}</h5>
				</div>

				<div class="col col-25" style="padding-bottom:0px;padding-top:10px;border-bottom:1px solid #5f7485">
					<button ng-show="!(upmatches.isadmin)" class="button button-balanced button-small" style="border-bottom:1px solid #5f7485;margin-bottom:5px;width:60px;font-size:12px;border-radius:50px"
					 ng-click="gogamedetails(upmatches.key)"> Manage
					</button>
				</div>

			</div>
		</div>

		<!--
		<div class="card" style="background-color:rgb(62,83,100); padding-bottom:0px">
			<div style="margin-bottom:-4px">
				<h4 class="whitetext" align="middle" style="background-color:rgb(62,83,100)"><b>TEAM MATCH HISTORY</b></h4>

				<ion-slide-box style="padding:0px" on-slide-changed="slideHasChanged($index)">
					<ion-slide>
						<div class="row" style="padding:0px">


							<div class="col" style="padding-top:0px">
								<div class="list">

									<div class="row">

										<div class="col" align="center">
											<a href="#/app/selfprofile">
												<img src="img/Badges/{{currentprofile.badge}}.png" style="height:70px ; width:70px" height="50" />
											</a>
											<div align="center">
												<h4 align="center" style="text-transform:capitalize;font-weight:bold;color:white"> {{currentprofile.teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">404 not found</h5>
											</div>

										</div>

										<div class="col" style="padding:0 0 10px 0">

											<div align="center">
												<h4 style="font-weight:bold;color:white">404 date</h4>

												<h4 style="color:red">
													LOSS
												</h4>
												<h3 style="margin:25px 0 0 0;color:white;font-weight:bold">
													VS
												</h3>
												<h5 style="margin-top:6px;color:darkturquoise">-23 AR</h5>

											</div>
										</div>
										<div class="col" align="center">

											<a href="#/app/selfprofile">
												<img src="img/Badges/{{rankedteams[1].badge}}.png" style="height:70px ; width:70px" height="50" />
											</a>
											<div align="center">
												<h4 align="center" style="text-transform:capitalize;font-weight:bold;color:white">{{rankedteams[1].teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">404 not found</h5>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</ion-slide>

					<ion-slide>
						<div class="row" style="padding:0px">


							<div class="col" style="padding-top:0px">
								<div class="list">

									<div class="row">

										<div class="col" align="center">
											<a href="#/app/selfprofile">
												<img src="img/Badges/{{currentprofile.badge}}.png" style="height:70px ; width:70px" height="50" />
											</a>
											<div align="center">
												<h4 align="center" style="font-weight:bold;color:white">{{currentprofile.teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">1500 AR</h5>
											</div>

										</div>

										<div class="col" style="padding:0 0 10px 0">

											<div align="center">
												<h4 style="font-weight:bold;color:white">05-Mar-16</h4>

												<h4 style="color:#2ab041">
													WIN
												</h4>
												<h3 style="margin:25px 0 0 0;color:white;font-weight:bold">
													VS
												</h3>
												<h5 style="padding-bottom:10px;margin-top:6px;color:#2ab041">+33 AR</h5>

											</div>
										</div>
										<div class="col" align="center">

											<a href="#/app/selfprofile">
												<img src="img/Badges/{{rankedteams[0].badge}}.png" style="height:70px ; width:70px" height="50" />
											</a>
											<div align="center">
												<h4 align="center" style="font-weight:bold;color:white">{{rankedteams[2].teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">1500 AR</h5>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</ion-slide>

					<ion-slide>
						<div class="row" style="padding:0px">


							<div class="col" style="padding-top:0px;background-color:darkred">
								<div class="list">

									<div class="row">

										<div class="col" align="center">
											<a href="#/app/selfprofile">
												<img src="img/Badges/{{currentprofile.badge}}.png" style="height:70px ; width:70px" height="50" />
											</a>
											<div align="center">
												<h4 align="center" style="font-weight:bold;color:white">{{currentprofile.teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">1500 AR</h5>
											</div>

										</div>

										<div class="col" style="padding:0 0 10px 0">

											<div align="center">
												<h4 style="font-weight:bold;color:white">02-Mar-16</h4>

												<h4 style="color:white">
													Loss
												</h4>
												<h3 style="margin:25px 0 0 0;color:white;font-weight:bold">
													VS
												</h3>
												<h5 style="margin-top:6px;color:darkturquoise">-19 AR</h5>

											</div>
										</div>
										<div class="col" align="center">

											<a href="#/app/selfprofile">
												<img src="img/Badges/{{rankedteams[0].badge}}.png" style="height:70px ; width:70px" />
											</a>
											<div align="center">
												<h4 align="center" style="font-weight:bold;color:white">{{rankedteams[2].teamname}}</h4>
												<h5 align="center" style="font-weight:bold;color:darkturquoise">1500 AR</h5>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</ion-slide>


				</ion-slide-box>
			</div>
		</div>
		</div>
		-->

		<div class="card" style="background-color: rgb(62, 83, 100);margin-top:15px">
			<ion-item style="border: none;padding:0px">
				<div class="row row-center" align="center" style="padding:0px">
					<div class="col" align="center" style="border-bottom:{{status.Available}};border-color:#28b041;padding:10px 0px; border-right:2px solid #5f7485">
						<h3 class="whitetext" ng-click="switchscreens(1)">
							<b>AVAILABILITY</b>
						</h3>

					</div>

					<div class="col" style="border-bottom: {{status.Statistics}};border-color:#28b041; padding:10px 0px;border-right:2px solid #5f7485">
						<h3 class="whitetext" ng-click="switchscreens(2)">
							<b>STATISTICS</b>
						</h3>

					</div>
					<div class="col" style="border-bottom: {{status.Members}};padding:10px 0px;border-color: #28b041">

						<h3 class="whitetext" ng-click="switchscreens(3)">
							<b>MEMBERS</b>
						</h3>

					</div>

				</div>



			</ion-item>

			<ion-item ng-show="tabs.Members" style="border: none;padding:0px">


				<div class="row row-center" ui-sref="app.profileview({key: item.key})" style="border-bottom:1px solid #5f7485;padding:5px" ng-repeat="item in currentprofile.players">
					<div >
						<img src="{{item.photo}}" style="margin-top:5px;border-radius:50px;border:1px solid #5f7485;width:42px;height:42px">
					</div>
					<div style="width:45%">
						<h3 class="whitetext" align="left" style="padding-left:5px">{{item.firstname}} {{item.lastname}}</h3>
					</div>

					<div style="width:40%;padding:0px;margin-top:12px" align="right" ng-show="currentprofile.amiadmin">

						<button ng-show="item.isadmin && !(item.itsme)" align="right" class="button button-small" style="font-size:13px;border-radius:50px; background-color:white; color:#2ab041"
						 ng-click="playeroperations(2,item)"> Demote
</button>

						<button ng-show="!(item.isadmin) && !(item.itsme)" align="right" class="button button-small" style="font-size:13px;border-radius:50px; background-color:#2ab041; color:white"
						 ng-click="playeroperations(1,item)"> Promote
</button>

						<button ng-show=" !(item.itsme)" class="button button-small" align="right" style="font-size:13px; background-color:#ef473a;border-radius:50px; color:white"
						 ng-click="playeroperations(3,item)">
						Remove
					</button>
						<button ng-show="item.itsme"  class="button button-small" align="right" style="font-size:13px; background-color:#ef473a;border-radius:50px; color:white"
						 ng-click="LeaveTeam()">
						Leave
					</button>

					</div>

				</div>


			</ion-item>

			<ion-item ng-show="tabs.Statistics" style="border: none;padding:0px">


				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:5px 0 0 0;margin-top:15px">
					<div class='col col-75'>

						<h3 class="whitetext" align="left">Games On Arina</h3>
					</div>

					<div class="col">

						<h3 class="whitetext" align="right">{{currentprofile.numberofmatches}}</h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:0px">
					<div class='col col-75'>

						<h3 class="whitetext" align="left">Wins</h3>
					</div>

					<div class="col">

						<h3 class="whitetext" align="right">{{stats.win}}</h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:5px; margin:0px">
					<div class='col col-75'>

						<h3 class="whitetext" align="left">Win Streak</h3>
					</div>

					<div class="col">

						<h3 class="whitetext" align="right"></h3>
					</div>

				</div>




			</ion-item>

			<ion-item ng-show="tabs.Available" style="border: none;padding:0px">


				<div class="row row-center" style="border-bottom:1px solid #5f7485;margin-top:15px">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Monday</h3>
					</div>

					<div class="col" style="margin-top:5px">

						<h3 ng-show="notloaded && currentprofile.startmonday == currentprofile.startmondayend || !currentprofile.available " class="whitetext" align="right"> Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startmonday != currentprofile.startmondayend && currentprofile.available " class="whitetext" align="right"> <b>{{currentprofile.startmonday}}:00</b> till <b>{{currentprofile.startmondayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485;padding-top:3px">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Tuesday</h3>
					</div>

					<div class="col" style="margin-top:5px">


						<h3 ng-show="notloaded && currentprofile.starttuesday == currentprofile.starttuesdayend || !currentprofile.available" class="whitetext" align="right">
							Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.starttuesday != currentprofile.starttuesdayend && currentprofile.available" class="whitetext" align="right">
							<b>{{currentprofile.starttuesday}}:00</b> till <b>{{currentprofile.starttuesdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Wednesday</h3>
					</div>

					<div class="col" style="margin-top:5px">
						<h3 ng-show="notloaded && currentprofile.startwednesday == currentprofile.startwednesdayend || !currentprofile.available" class="whitetext" align="right">
							Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startwednesday != currentprofile.startwednesdayend && currentprofile.available" class="whitetext" align="right">
							<b>{{currentprofile.startwednesday}}:00</b> till <b>{{currentprofile.startwednesdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485; padding-top:3px">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Thursday</h3>
					</div>

					<div class="col" style="margin-top:5px">
						<h3 ng-show="notloaded && currentprofile.startthursday == currentprofile.startthursdayend || !currentprofile.available" class="whitetext" align="right">
							Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startthursday != currentprofile.startthursdayend && currentprofile.available" class="whitetext" align="right">
							<b>{{currentprofile.startthursday}}:00</b> till <b>{{currentprofile.startthursdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Friday</h3>
					</div>

					<div class="col" style="margin-top:5px">
						<h3 ng-show="notloaded && currentprofile.startfriday == currentprofile.startfridayend || !currentprofile.available" class="whitetext" align="right"> Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startfriday != currentprofile.startfridayend && currentprofile.available" class="whitetext" align="right"> <b>{{currentprofile.startfriday}}:00</b> till <b>{{currentprofile.startfridayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Saturday</h3>
					</div>

					<div class="col" style="margin-top:5px">
						<h3 ng-show="notloaded && currentprofile.startsaturday == currentprofile.startsaturdayend || !currentprofile.available" class="whitetext" align="right">
							Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startsaturday != currentprofile.startsaturdayend && currentprofile.available" class="whitetext" align="right">
							<b>{{currentprofile.startsaturday}}:00</b> till <b>{{currentprofile.startsaturdayend}}:00</b> </h3>
					</div>

				</div>

				<div class="row row-center" style="border-bottom:1px solid #5f7485">
					<div class="col" style="margin-top:5px">

						<h3 class="whitetext" align="left">Sunday</h3>
					</div>

					<div class="col" style="margin-top:5px">
						<h3 ng-show="notloaded && currentprofile.startsunday == currentprofile.startsundayend || !currentprofile.available" class="whitetext" align="right"> Not Available </h3>
						<h3 ng-show="notloaded && currentprofile.startsunday != currentprofile.startsundayend && currentprofile.available" class="whitetext" align="right"> <b>{{currentprofile.startsunday}}:00</b> till <b>{{currentprofile.startsundayend}}:00</b> </h3>
					</div>

				</div>




			</ion-item>
		</div>
			<hr style="height:15px; visibility:hidden;" />

	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive" style="background-color: rgb(30,30,30);border: none" ng-show="nointernet">
		<div align="left" style="padding-left: 5px">
			<h6 class="whitetext">
				Oops. You have no internet connection
			</h6>
		</div>
	</ion-footer-bar>

</ion-view>